<a href="https://colab.research.google.com/github/YugyeongJo/SeSAC_Python_Study/blob/main/docs/04_Python_Basic(Function)_0703_0705.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 기초

<목차>
1. 변수
2. 연산자
3. 제어문
4. 함수
5. 자료형 1
6. 자료형 2
7. 정규표현식
8. 판다스
9. 시각화
10. 파일 입출력

<hr>

# 4. 함수(문법)

- 매개변수 있는 함수
  + 입력 값을 받아 다른 값을 출력하도록 미리 만들어져 있는 것
  + 반복해서 사용한 코드들을 묶어 놓고 그것에 이름을 붙인 것
  + 반복해서 사용할 코드는 함수를 이용하면 훨씬 구조적이고 간결한 코드를 작성 가능

- 함수 : docstring
  + 함수의 설명서 문자열 또는 docstring, 함수 본문의 첫 번째 문장에 문자열을 포함
  + 겹따옴표 3개("""와 """) 또는 홑따옴표 3개 ('''와 ''')를 이용
  + 문자열 스트링이 여러 개일 경우 맨 처음의 문자열만 독스트링이 됨

- 함수 정의
  + 함수를 만드는 것 = 함수를 정의한다(define)
- 함수 호출
  + 정의되어 있는 함수를 사용하기 위해 함수명(입력값) 형식으로 호출

- 매개변수(Parameter Variable)
  + 함수 실행을 위해 필요한 겂을 받을 변수
  + 매개변수는 여러개 선언 가능
  + 일반 변수와 동일한 사용법과 특징을 가지고 있음
  + 변수명 규칙 준수 필요
- 인수(Argument)
  + 함수 호출 시 함수 실행을 위해 전달하는 값

```
def 함수명 (파라미터):
  """
  함수 설명
  """

  코드 작성

  return 반환값

-----------------------

함수명(인수)

```

<img src="">

In [ ]:
counts = int(input("몇 개의 변수를 입력하시겠습니까? "))
nums = []

for count in range(counts):
  user_answer = int(input(f"{count+1}번째의 변수를 입력하세요"))
  nums.append(user_answer)

def calculate_average(numbers):
  return sum(numbers) / len(numbers)

avg = calculate_average(nums)
print(f"리스트의 평균 : {avg}")

몇 개의 변수를 입력하시겠습니까? 3
1번째의 변수를 입력하세요1
2번째의 변수를 입력하세요1
3번째의 변수를 입력하세요1
리스트의 평균 : 1.0

In [ ]:
nums = int(input("변수를 입력해주세요 "))

def square_number(numbers):
  return numbers ** 2

square = square_number(nums)
print(f"입력값의 제곱 : {square}")

변수를 입력해주세요 12
입력값의 제곱 : 144

In [ ]:
def find_index(lst, value):
  if value in lst:
    return lst.index(value)
  else:
    return -1

print(find_index([1, 2, 3, 4, 5], 3))

2

In [ ]:
import math

def calculate_distance(x1, y1, x2, y2):
  return math.sqrt((x2 - x1) ** 2 + (y2 - y1) ** 2)

print(calculate_distance(0, 0, 3, 4))
print(calculate_distance(1, 1, 4, 5))

5.0
5.0

# 4. 함수(문법) : 전역변수 vs 지역변수

- 전역변수(Global Variable)
  + 프로그램 전체에서 접근할 수 있는 변수
  + 함수 내부와 외부 어디서든 접근할 수 있음
  + 생명주기(lifetime)은 프로그램이 시작될 때 생성되고, 프로그램이 종료될 때 소멸
  + 전역변수를 함수 내부에서 수정하려면 global 키워드를 사용(그렇지 않으면 함수 내부에서 전역 변수와 동일한 이름의 지역 변수가 생성됨)

```
변수명 = 변수내용

def 함수명():
  <!-- 지역 변수 선언 -->
  global 변수명

  함수 내용

  return 결과값
```

- 지역변수(Local Variable)
  + 함수 내에서만 접근할 수 있는 변수
  + 해당 함수 외부에서는 접근할 수 없음
  + 생명주기(lifetime)은 함수가 호출될 때 생성되고, 함수가 종료되면 소멸

In [ ]:
# 전역 변수 선언
global_var = '전역 변수'

def example_function():
  # 지역 변수 선언
  local_var = '지역 변수'

  print("함수 내부에서 전역 변수 접근 : ", global_var)
  print("함수 내부에서 지역 변수 접근 : ", local_var)

# 함수 호출
example_function()

# 함수 외부에서 전역 변수 접근
print("함수 외부에서 전역 변수 접근 : ", global_var)

# 함수 외부에서 지역 변수 접근 시도(오류발생)
try:
  print("함수 외부에서 지역 변수 접근 : ", local_var)
except NameError as e:
  print("오류 발생 : ", e)

함수 내부에서 전역 변수 접근 :  전역 변수
함수 내부에서 지역 변수 접근 :  지역 변수
함수 외부에서 전역 변수 접근 :  전역 변수
오류 발생 :  name 'local_var' is not defined

In [ ]:
# 전역 변수 선언
counter = 0

def increment_counter():
  global counter # 전역 변수를 사용하겠다고 명시
  counter += 1
  print("함수 내부에서 전역 변수 수정")

# 함수 호출
increment_counter()
increment_counter()

# 함수 외부에서 전역 변수 확인
print("함수 외부에서 전역 변수 확인 : ", counter)

함수 내부에서 전역 변수 수정
함수 내부에서 전역 변수 수정
함수 외부에서 전역 변수 확인 :  2

# 4. 함수(문법) : return value

- 함수가 반환 값을 가지려면 함수의 가장 마지막 행에 return 구문을 포함해야 함
- 여러 개 값을 반환하는 함수
  + 여러 개 값을 반환하면 그 값들은 튜플에 저장되어 반환
  + 반환 값을 하나의 튜플 변수에 저장하거나 함수가 반환하는 값의 개수만큼 변수를 선언하여 반환 값이 저장되도록 할 수 있음

```
def 함수명 (파라미터1, 파라미터2 ...):
  """
  함수 설명
  """

  코드 작성

  return 반환값1, 반환값2 ...

-----------------------

함수명(인수1, 인수2 ...)

```

In [ ]:
# 반환 값을 튜플 유형으로
def swap(a, b):
  return b, a

a = swap(1, 2)
type(a)

tuple

In [ ]:
x, y = swap(1, 2)
print(x, y)

2 1

In [ ]:
def add_and_subtranct(a, b):
  sum_value = a + b
  difference = a - b
  return sum_value, difference

result_sum, result_difference = add_and_subtranct(7, 3)
print("합: ", result_sum)
print("차: ", result_difference)

합:  10
차:  4

In [ ]:
def min_and_max(numbers):
  min_value = min(numbers)
  max_value = max(numbers)
  return min_value, max_value

min_val, max_val = min_and_max([1, 2, 3, 4, 5])
print("최솟값: ", min_val)
print("최댓값: ", max_val)

최솟값:  1
최댓값:  5

# 4. 함수(문법) : 키워드 인수 vs 위치 인수(순서 인수)

- 키워드 인수
  + 인수를 이름으로 지정하여 전달
  + 기본 매개변수 값을 사용하여 함수를 정의할 때 키워드 인수를 사용하여 임의의 순서로 인수가 포함된 함수를 호출 가능

- 위치 인수(순서 인수)
  + 키워드 인수를 사용하지 않는 경우 인수는 함수 시그니처에 정의된 순서대로 전달해야함

- 키워드 인수, 위치 인수 혼합
  + 키워드 인수와 위치 인수를 혼합해서 사용 가능
  + 다만, 위치 인수는 키워드 인수 앞에 와야 함

```
def 함수명(변수명1, 변수명2=기본값, ...):
  실행한 내용
  return ...

----------
함수명(값1, 변수명2=값2, ...)

```

In [ ]:
def func4(a, L=None):
  if L is None:
    L = []
  L.append(a)
  return L

In [ ]:
list_ = []
func4(10, list_)

[10]

In [ ]:
func4(20, list_)

[10, 20]

In [ ]:
func4(30, list_)

[10, 20, 30]

In [ ]:
# 키워드 인수 입력시 순서 상관 X
func4(L=list_, a=40)

[10, 20, 30, 40, 40]

In [ ]:
# 위치 인수는 키워드 인수보다 앞에 와야 함
func4(40, L=list_)

[10, 20, 30, 40, 40, 40, 40]

In [ ]:
# a는 기본값을 지정하지 않았기 때문에 필수 위치 인자
# L은 선택적 인자
# a인자 값은 반드시 제공해야함
func4()

TypeError: func4() missing 1 required positional argument: 'a'

In [ ]:
# 위치 인수와 키워드 인수를 함께 사용하는 함수
def greet(name, message="Hello"):
  return f"{message}, {name}!"

In [ ]:
# 위치 인수로 호출
print(greet("Alice"))

Hello, Alice!

In [ ]:
# 키워드 인수로 호출
print(greet(name = "Alice", message="Hi"))

Hi, Alice!

In [ ]:
# 위치 인수와 키워드 인수를 함께 사용
print(greet("Charlie", message="hey"))

hey, Charlie!

In [ ]:
# 위치 인수는 매개변수를 넣어줄 때에도 순서가 키워드 인수보다 앞에 와야 함.
def greet(message="Hello", name):
  return f"{message}, {name}!"

print(greet(message="hey", "Charlie"))

SyntaxError: non-default argument follows default argument (<ipython-input-50-db11019528e2>, line 1)

In [ ]:
def add_numbers(a, b, c):
  return a + b + c

# 위치 인수로 호출
print(add_numbers(1, 2, 3))

6

In [ ]:
def order_summary(item, price, quantity=1, discount=0):
  total_price = price * quantity * (1 - discount)
  return f"Item: {item}, Total Price: {total_price:.2f}"

# 위치 인수와 키워드 인수를 혼합하여 호출
print(order_summary("Book", 12.99))
print(order_summary("Pen", 1.99, quantity=10, discount=0.1))

Item: Book, Total Price: 12.99
Item: Pen, Total Price: 17.91

# 4. 함수(문법) : 가변인수(arbitrary argument)

- 함수가 임의의 수의 인수를 받을 수 있게 하는 것
  + 튜플 매개 인수 (*args)
    * args는 함수에 여러 개의 위치 인수를 전달할 때 사용
    * 함수 내에서 args는 튜플로 취급되며, 전달된 모든 위치 인수를 포함
  + 딕셔너리 매개 인수 (**kwargs)
    * **kwargs는 함수에 여러 개의 키워드 인수를 전달할 때 사용
    * 함수 내에서 kwargs는 딕셔너리로 취급되며, 전달된 모든 키워드 인수를 포함

In [ ]:
def print_args(*args):
  for arg in args:
    print(arg)

print_args(1, 2, 3)
print_args('a', 'b', 'c')

1
2
3
a
b
c

In [ ]:
def print_kwargs(**kwargs):
  for key, value in kwargs.items():
    print(f"{key} = {value}")

print_kwargs(name="Alice", age=30, city="New York")
print_kwargs(fruits="Apple", color="Red", price=1.5)

name = Alice
age = 30
city = New York
fruits = Apple
color = Red
price = 1.5

In [ ]:
def calculate_area(shape, *dimensions):
  if shape == 'rectangle':
    length, width = dimensions
    area = length * width
  elif shape == 'circle':
    radius, = dimensions
    area = 3.14 * radius ** 2
  else:
    area = None
    print(f"Unsupported shape: {shape}")
  return area

print(calculate_area('rectangle', 5, 10))
print(calculate_area('circle', 3))
print(calculate_area('triangle', 3, 4))

50
28.26
Unsupported shape: triangle
None

In [ ]:
def print_person_info(name, age, **kwargs):
  print(f"Name: {name}, Age: {age}")
  for key, value in kwargs.items():
    print(f"{key.capitalize()}: {value}")

print_person_info("Alice", 25)
print_person_info("Bob", 30, occupation="Engineer", city="New York")
print_person_info("Charlie", 35, occupation="Manager", city="London", hobbies="Reading, Hiking")

Name: Alice, Age: 25
Name: Bob, Age: 30
Occupation: Engineer
City: New York
Name: Charlie, Age: 35
Occupation: Manager
City: London
Hobbies: Reading, Hiking

# 4. 함수(문법) : 튜플 인수 언패킹(unpacking)

- 함수에 튜플을 인수로 전달할 때, 튜플 안에 여러 값이 들어 있을 때, 이를 함수의 개별 인수로 분리하여 전달하는 것.
- 함수 정의 시에는 특별한 문법이 필요 없지만, 함수 호출시 인수 앞에 *를 붙여서 사용

```
def 함수명 (매개변수, ...):
  실행할 문장

# 튜플 정의
변수명 = (인수, ...)

# 튜플 언패킹을 사용하여 함수 호출
display_info(*변수명)

```

In [ ]:
def display_info(name, age, country):
  print(f"Name: {name}")
  print(f"Age: {age}")
  print(f"Country: {country}")

info = ("Alice", 30, "USA")

display_info(*info)

Name: Alice
Age: 30
Country: USA

# 4. 함수(문법) : 딕셔너리 인수 언패킹

- 함수에 딕셔너리를 전달할 때, 딕셔너리 안에 여러 키-값 쌍이 있을 때, 이를 함수의 개별 키워드 인수로 분리하여 전달하는 것.
- 함수 정의시에는 특별한 문법이 필요 없지만, 함수 호출시 인수 앞에 **를 붙여서 사용

```
def 함수명(매개변수, ...):
  실행할 문장

# 딕셔너리 정의
변수명 = {
  "key": "value"
  , "key": "value"
  , "key": "value"
}

# 딕셔너리 언패킹을 사용하여 함수 호출
함수명(**변수명)
```

In [ ]:
def display_info(name, age, country):
  print(f"Name: {name}")
  print(f"Age: {age}")
  print(f"Country: {country}")

info = {
    "name": "Alice"
    , "age": 30
    , "country":"USA"
}

display_info(**info)

Name: Alice
Age: 30
Country: USA

# 4. 함수(문법) : 패킹(packing) 언패킹(unpacking)

- 데이터 구조(예: 리스트, 튜플 등) 안에 묶여 있는 여러 개의 값을 개별적인 변수나 인수로 분리하는 작업
- 패킹(packing)
  + 여러 개의 값을 하나의 데이터 구조(예: 튜플, 리스트 등)로 묶는 것.
- 언패킹(unpacking)
  + 하나의 데이터 구조 안에 묶여 있는 값을 개별적인 변수나 인수로 분리하는 것.
  + 함수에 튜플이나 리스트를 전달할 때, 이를 개별 인수로 분리하여 전달하는 것

```
def 함수명(매개변수, ...):
  실행할 문장

# 딕셔너리 정의
변수명 = {
  "key": "value"
  , "key": "value"
  , "key": "value"
}

# 딕셔너리 언패킹을 사용하여 함수 호출
함수명(**변수명)
```

In [ ]:
# 패킹(packing)
packed = (1, 2, 3)
print(packed)

(1, 2, 3)

In [ ]:
# 언패킹(unpacking)
a, b, c = packed
print(a)
print(b)
print(c)

1
2
3

In [ ]:
def print_numbers(*args):
  for arg in args:
    print(arg)

print_numbers(1, 2, 3)
print_numbers((4, 5), 6, [7, 8])

1
2
3
(4, 5)
6
[7, 8]

In [ ]:
def calculate_volume(length, width, height):
  return length * width * height

dimensions = (5, 10, 3)
volume = calculate_volume(*dimensions)
print(volume)

150

In [ ]:
def greet(first_name, last_name):
  print(f"Hello, {first_name} {last_name}!")

# 딕셔너리 생성
person = {'first_name': 'John', 'last_name': 'Doe'}

# 딕셔너리 언패킹하여 함수 호출
greet(**person)

Hello, John Doe!

In [ ]:
def introduce(name, age, city):
  print(f"My name is {name}, I am {age} years old and I live in {city}.")

# 딕셔너리 생성
info = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# 딕셔너리 언패킹하여 함수 호출
introduce(**info)

My name is Alice, I am 30 years old and I live in New York.

In [ ]:
def print_info(name, age, city='Unknown'):
  print(f"Name: {name}, Age: {age}, City: {city}")

# 딕셔너리 생성
person_info = {
    'name': 'Bob'
    , 'age': 25
    }

# 딕셔너리 언패킹하여 함수 호출
print_info(**person_info)

Name: Bob, Age: 25, City: Unknown

# 4. 함수(문법) : lambda 함수

- 이름 없이 정의된 간단한 함수
- 주로 간단한 연산이나 함수를 인자로 전달할 때 사용
- 작은 익명함수
- 함수 객체가 필요한 곳이면 어디서든지 사용 가능
- 한 개의 문장(표현식)만 작성 가능
- 중첩된 함수 정의와 마찬가지로 람다함수는 포함된 범위(scope)의 변수들을 참조 가능

```
lambda 매개변수 : 실행할 문장
```

In [ ]:
def add(a, b):
  return a+b
add(1, 2)

3

In [ ]:
add2 = lambda a, b : a+b
add2(1, 2)

3

In [ ]:
add = lambda x, y: x+y
result = add(5, 3)
print(result)

8

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [ ]:
max_value = lambda x, y: x if x > y else y
result = max_value(10, 20)
print(result)

20

In [ ]:
students = [
    {
      'name': 'John'
      , 'grade': 90
    },
    {
      'name': 'Jane'
      , 'grade': 85
    },
    {
      'name': 'Dave'
      , 'grade': 92
    }
]

sorted_students = sorted(students, key=lambda x: x['grade'])
print(sorted_students)

[{'name': 'Jane', 'grade': 85}, {'name': 'John', 'grade': 90}, {'name': 'Dave', 'grade': 92}]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]

# 4. 함수(문법) : built_in 함수

- 파이썬 내장함수는 import 하지 않고 즉시 사용 가능한 함수

[입출력 관련 함수]

|함수명|기능|비고|
|--|--|--|
|print(x)|객체를 문자열로 표시||
|input([prompt])|사용자 이벼력을 문자열로 반환||
|help([x])|x에 대한 도움말을 출력||
|golbals()|전역변수의 리스트를 반환||
|locals()<br>vars()|지역변수의 리스트를 반환||
|del(x)<br>del x|객체를 변수 공간에서 삭제||
|eval(expr)|expr 문자열을 파이썬 코드로 실행||
|exec(obj)|파이썬 명령을 실행||
|open(filename[, mode])|파일 열기||

[기본 자료형의 생성과 변환 함수]

|함수명|기능|비고|
|--|--|--|
|object()|새로운 object (모든 객체의 base)를 생성||
|bool(obj)|객체의 논리값을 반환||
|int(obj)|문자열 형태의 숫자나 실수를 정수로 변환||
|float(obj)|문자열 형태의 숫자나 정수를 실수로 변환||
|complex(real, imag)|실수부(real)와 허수부(imag)로 복소수를 생성||

[기본 자료형의 정보를 얻는 함수]

|함수명|기능|비고|
|--|--|--|
|type(obj)|객체의 형을 반환||
|dir(obj)|객체가 가진 함수와 변수들을 리스트 형태로 반환||
|repr(obj)|eval() 함수로 다시 객체를 복원할 수 있는 문자열을 생성||
|ascii(obj)|repr()과 유사하나 non-ascii 문자는 escape||
|id(obg)|객체의 고유번호(int형)를 반환||
|hash(obj)|객체의 해시값(int)형을 반환(같은 값이면 해시값도 같음)||
|chr(num)|ASCII 값을 문자로 반환||
|ord(str)|한 문자의 ASCII 값을 반환||
|isinstance(obj, Class)|객체가 클래스의 인스턴스인지를 판단||
|issubclass(Sub, Super)|Sub클래스 Super클래스의 자식클래스이면 True를 반환||

[열거형 정보를 얻는 함수]

|함수명|기능|비고|
|--|--|--|
|len(seq)|시퀀스형을 받아서 그 길이를 반환||
|iter(obj[, sentinel])|객체의 이터레이터(iterator)를 반환||
|next(iterator)|iterator의 현재 요소를 반환하고 포인터를 하나 넘김||
|enumerat(iterator)|iterator 객체에서 enumerate 형을 반환.<br>입력값으로 시퀀스 자료형(리스트, 튜플, 문자열)을 입력||
|sorted(iterable[, key][, reverse])|정렬된 리스트를 반환||
|reversed(seq)|역순으로 된 iterator를 반환||
|filter(func, iterable)|iterable 객체의 각 요소 중 func()의 반환 값이 참인 것만 묶어서 iterator로 반환||
|map(func, iterable)|iterable 개체의 각 요소를 func()의 반환값으로 매핑해서 iterator로 반환||

[산술/논리 연산과 관련된 함수]

|함수명|기능|비고|
|--|--|--|
|hex(n)|정수 n의 16진수 값을 구해서 '문자열'로 반환||
|oct(n)|정수 n의 8진수 값을 구해서 '문자열'로 반환||
|bin(n)|정수 n의 2진수 값을 구해서 '문자열'로 반환||
|abs(n)|절댓값을 구하기. 복소수의 경우 크기를 구함||
|pow(x, y[, x])|거듭제곱 구하기|pow(x, y) = x ** y|
|divmod(a, b)|a를 b로 나눈 몫과 나머지를 튜플 형식(몫, 나머지)으로 반환||
|all(iterable)|iterable의 모든 요소가 True일 경우 True를 반환||
|any(iterable)|iterable의 하나 이상의 요소가 True일 경우 True를 반환||
|max(iterable)|최댓값 구하기|max(arg1, ar2, ...) 형식으로 사용|
|min(iterable)|최솟값 구하기|min(arg1, ar2, ...) 형식으로 사용|
|round()|반올림 구하기|ceil과 floor 함수는 numpy 패키지에 존재함|

[리스트 관련 함수]

|함수명|기능|비고|
|--|--|--|
|append|리스트의 마지막에 요소를 추가|리스트를 직접 수정|
|extend|리스트에 다른 리스트나 iterable의 모든 요소를 추가|리스트를 직접 수정|
|insert|지정한 위치에 요소를 삽입|리스트를 직접 수정|
|remove|리스트에서 첫 번째로 일치하는 요소를 제거|리스트를 직접 수정|
|pop|리스트에서 지정한 위치의 요소를 제거하고 반환|인덱스를 지정하지 않으면 마지막 요소를 제거|
|clear|리스트의 모든 요소를 제거|리스트를 직접 수정|
|index|리스트에서 첫 번째로 일치하는 요소의 인덱스를 반환|요소가 존재하지 않으면 ValueError 발생|
|count|리스트에서 특정 요소의 개수를 세어 반환||
|sort|리스트의 요소를 정렬|리스트를 직접 수정|
|reverse|리스트의 요소 순서를 반대로 변경|리스트를 직접 수정|
|copy|리스트를 얕은 복사하여 새로운 리스트를 반환||

In [ ]:
# eval() : 문자열로 된 표현식을 실행하여 그 결과를 반환
expression = "2 + 3 * 4"
result = eval(expression)
print(result)

# 변수를 사용한 eval()
x = 10
expression_with_var = "x*2"
result_with_var = eval(expression_with_var)
print(result_with_var)

14
20

In [ ]:
# isintance() : 객체가 특정 클래스 또는 클래스 튜플에 속하는지 확인하는데 사용
num = 10

if isinstance(num, int):
  print("int 입니다.")
else:
  print("int가 아닙니다.")

int 입니다.

In [ ]:
# type() :
num = 10
text = "Hello"
lst = [1, 2, 3]

print(type(num))
print(type(text))
print(type(lst))

<class 'int'>
<class 'str'>
<class 'list'>

<hr>

## 수업 문제 1

- function 만들기

In [ ]:
# 모음 개수 세는 함수
user_answer = input("모음의 갯수를 셀 문자를 입력하세요 ")

def count_vowels(input_string):
    """
    입력받은 값에서 모음의 갯수를 구하는 함수

    매개변수로 입력받은 값을 할당한 변수(user_answer) 인수로 넣어줍니다.
    모음의 개수를 반환합니다.

    반환된 값을 새로운 변수에 담아 활용할 수 있습니다.

    """

    vowels = "aeiouAEIOU"
    count = 0
    for char in input_string:
        if char in vowels:
            count += 1
    return count

answer = count_vowels(user_answer)

print(f"입력받은 값 {user_answer}의 모음 개수는 {answer}개 입니다.")

모음의 갯수를 셀 문자를 입력하세요 apple
입력받은 값 apple의 모음 개수는 2개 입니다.

## 수업 문제 2

- 전역변수를  함수에서 global로 선언하여 함수내에서 사용한 코드를 작성후 공유해봅시다.

In [ ]:
# 자음 모음 개수 세는 함수
user_answer = input("자음과 모음의 갯수를 셀 문자를 입력하세요 ")

vowels = "aeiou"
consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"

def count_vowels(input_string):
    """
    입력받은 값에서 자음과 모음의 갯수를 구하는 함수

    매개변수로 입력받은 값을 할당한 변수(user_answer) 인수로 넣어줍니다.
    자음과 모음의 개수를 반환합니다.

    반환된 값을 새로운 변수에 담아 활용할 수 있습니다.
    """
    global vowels
    vowels = "aeiouAEIOU"

    vowels_count, consonants_count = 0, 0

    for vowels_char in input_string:
        if vowels_char in vowels:
            vowels_count += 1
    for consonants_char in input_string:
        if consonants_char in consonants:
            consonants_count += 1

    return vowels_count, consonants_count

count1, count2 = count_vowels(user_answer)

print(f"입력받은 값 {user_answer}의 자음 개수는 {count2}개, 모음 개수는 {count1}개 입니다.")

자음과 모음의 갯수를 셀 문자를 입력하세요 korea
입력받은 값 korea의 자음 개수는 2개, 모음 개수는 3개 입니다.

## 수업 문제 3

- 피보나치 수열의 개념을 정리하고 코드를 수정작성하여 공유해봅시다.

In [ ]:
a, b = 0, 1

def fibonacci(n: int) -> list:
    """
    피보나치 수열을 나열하는 함수

    이 함수는 피보나치 수열을 나열할 최대 숫자를 입력하면 해당 숫자 이하까지의 피보나치 수열을 반환합니다.
    매개변수를 정수 Type 으로 반환하지 않으면 TypeError가 발생합니다.

    Parameters:
    n (int): 수열을 나열할 최대 정수입니다.

    Returns:
    list: 나열된 피보나치 수열입니다.

    Raises:
    TypeError: If 'n' is not an integer.

    Example:
    >>> fibonacci(50)
    [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
    """

    if not isinstance(n, int):
        raise TypeError("입력값이 숫자가 아닙니다.")

    global a, b
    answer = []

    while a <= n:
        answer.append(a)
        a, b = b, a + b

    return answer

# 사용자 입력 받기
n = input("피보나치 수열을 나열할 최대 숫자를 입력하세요: ")

try:
    n = int(n)
    print(fibonacci(n))
except ValueError:
    print("입력값이 숫자가 아닙니다.")

피보나치 수열을 나열할 최대 숫자를 입력하세요: 10
[0, 1, 1, 2, 3, 5, 8]

In [ ]:
def fibonacci(n: int, start1: int, start2: int) -> list:
    """
    피보나치 수열을 나열하는 함수 (시작 값을 변경 가능)

    이 함수는 피보나치 수열을 나열할 최대 숫자를 입력하면 해당 숫자 이하까지의 피보나치 수열을 반환합니다.
    시작 값을 변경하여 다양한 수열을 생성할 수 있습니다. 매개변수를 정수 Type으로 반환하지 않으면 TypeError가 발생합니다.

    Parameters:
    n (int): 수열을 나열할 최대 정수입니다.
    start1 (int): 첫 번째 시작 값입니다.
    start2 (int): 두 번째 시작 값입니다.

    Returns:
    list: 나열된 피보나치 수열입니다.

    Raises:
    TypeError: If 'n', 'start1', 또는 'start2'가 정수가 아닌 경우.

    Example:
    >>> fibonacci(50, 0, 1)
    [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
    >>> fibonacci(50, 1, 1)
    [1, 1, 2, 3, 5, 8, 13, 21, 34]
    """

    if not isinstance(n, int) or not isinstance(start1, int) or not isinstance(start2, int):
        raise TypeError("입력값이 숫자가 아닙니다.")

    a, b = start1, start2
    answer = []

    while a <= n:
        answer.append(a)
        a, b = b, a + b

    return answer

# 사용자 입력 받기
n = input("피보나치 수열을 나열할 최대 숫자를 입력하세요: ")
start1 = input("첫 번째 시작 값을 입력하세요: ")
start2 = input("두 번째 시작 값을 입력하세요: ")

try:
    n = int(n)
    start1 = int(start1)
    start2 = int(start2)
    print(fibonacci(n, start1, start2))
except ValueError:
    print("입력값이 숫자가 아닙니다.")

피보나치 수열을 나열할 최대 숫자를 입력하세요: 50
첫 번째 시작 값을 입력하세요: 2
두 번째 시작 값을 입력하세요: 3
[2, 3, 5, 8, 13, 21, 34]

## 수업 문제 4

- 여러 개의 리턴값이 있는 함수를 사용한 코드를 작성후  공유해봅시다. (주요 용어 : tuple, unpacking)

In [ ]:
# 통계 계산기
import numpy as np

def statistics_calculator(numbers: list) -> tuple:
    """
    통계 계산기 함수

    이 함수는 숫자 리스트를 입력받아 평균, 중앙값, 분산, 표준 편차를 반환합니다.

    Parameters:
    numbers (list): 숫자 리스트입니다.

    Returns:
    tuple: 평균, 중앙값, 분산, 표준 편차를 포함한 튜플입니다.
    """

    # 평균
    mean_num = np.mean(numbers)
    # 중앙값
    median_num = np.median(numbers)
    # 분산
    variance_num = np.var(numbers)
    # 표준 편차
    deviation_num = np.std(numbers)

    return mean_num, median_num, variance_num, deviation_num

# 사용자 입력 받기
input_str = input("통계 계산기를 적용할 숫자를 전부 띄어쓰기하여 입력해주세요: ")

try:
    list_num = list(map(int, input_str.split()))
    result_mean, result_median, result_variance, result_deviation = statistics_calculator(list_num)
    print(f"평균: {result_mean}, 중앙값: {result_median}, 분산: {result_variance}, 표준 편차: {result_deviation}")
except ValueError:
    print("입력값 중에 숫자가 아닌 값이 있습니다. 올바른 숫자를 입력해주세요.")
except TypeError as e:
    print(f"입력값 처리 중 오류가 발생했습니다: {e}")

통계 계산기를 적용할 숫자를 전부 띄어쓰기하여 입력해주세요: 1 2 3
평균: 2.0, 중앙값: 2.0, 분산: 0.6666666666666666, 표준 편차: 0.816496580927726

## 수업 문제 5

- 위치인수와 키워드 인수가 있는 함수를 사용한 코드를 작성 후 공유해봅시다.

In [ ]:
from datetime import datetime

def calculate_ad_budget(ad_startdate, ad_enddate, cpc_amount=50, daily_impressions=0):
    """
    광고 예산 계산 함수

    Parameters:
    ad_startdate (str): 광고 집행 시작일 (형식: 'xxxx-xx-xx')
    ad_enddate (str): 광고 집행 마감일 (형식: 'xxxx-xx-xx')
    cpc_amount (float): CPC 금액
    daily_impressions (int): 일당 노출 횟수

    Returns:
    tuple: 광고 기간, 총 광고 예산
    """
    # 광고 집행 시작일 변환
    ad_startdate_parts = list(map(int, ad_startdate.split('-')))
    ad_startdate = datetime(ad_startdate_parts[0], ad_startdate_parts[1], ad_startdate_parts[2], 0, 0, 0)

    # 광고 집행 마감일 변환
    ad_enddate_parts = list(map(int, ad_enddate.split('-')))
    ad_enddate = datetime(ad_enddate_parts[0], ad_enddate_parts[1], ad_enddate_parts[2], 23, 59, 59)

    # 광고 기간 계산
    ad_duration = (ad_enddate - ad_startdate).days + 1

    # CPC 금액을 정수로 변환
    cpc_amount = int(cpc_amount)

    # 총 광고 예산 계산
    total_budget = cpc_amount * daily_impressions * ad_duration

    return cpc_amount, ad_duration, total_budget

# 키워드 인수와 위치 인수를 사용하여 함수 호출
ad_startdate_input = input("광고 집행 시작일(xxxx-xx-xx)으로 입력하세요 (광고 집행은 00시 00분 00초부터 진행됩니다.): ")
ad_enddate_input = input("광고 집행 마감일(xxxx-xx-xx)으로 입력하세요 (광고 집행은 23시 59분 59초까지 진행됩니다.): ")

cpc_amount_input = input("CPC 금액을 입력하세요 (입력하지 않으면 평균단가 50원이 사용됩니다): ")

if cpc_amount_input == "":
    cpc_amount = 50
else:
    cpc_amount = float(cpc_amount_input)

daily_impressions = int(input("일당 노출 횟수를 입력하세요: "))

# 함수 호출
cpc_amount, ad_duration, total_budget = calculate_ad_budget(ad_startdate_input, ad_enddate_input, cpc_amount=cpc_amount, daily_impressions=daily_impressions)

print(f"광고 기간은 총 {ad_duration}일입니다.")
print(f"CPC 금액은 {cpc_amount}원이며 총 광고 예산은 {total_budget}원입니다.")

광고 집행 시작일(xxxx-xx-xx)으로 입력하세요 (광고 집행은 00시 00분 00초부터 진행됩니다.): 2024-07-04
광고 집행 마감일(xxxx-xx-xx)으로 입력하세요 (광고 집행은 23시 59분 59초까지 진행됩니다.): 2024-07-05
CPC 금액을 입력하세요 (입력하지 않으면 평균단가 50원이 사용됩니다):
일당 노출 횟수를 입력하세요: 100
광고 기간은 총 2일입니다.
CPC 금액은 50원이며 총 광고 예산은 10000원입니다.

## 수업 문제 6

- 가변인수가 있는 함수를 사용한 코드를 작성후 공유해 봅시다

In [ ]:
# 사용자 파이썬 학습 능력 정보 입력 함수
def get_user_input():
    """
    사용자 파이썬 학습 능력 정보 입력 함수
    사용자로부터 이름, 파이썬 학습 경험, 그리고 파이썬 활용 가능 여부를 입력받아 딕셔너리 형태로 반환하는 함수입니다.

    Returns:
    dict: 사용자 정보를 담은 딕셔너리. 'name' (str), 'python_availability' (int),
          'learning_ability_level' (int) 키를 포함합니다.
    """
    user_info = {}
    user_info['name'] = input("이름: ")

    while True:
        try:
            python_availability = int(input("파이썬 학습 경험이 있다면 '1', 없다면 '0': "))
            if python_availability not in (0, 1):
                raise ValueError("입력값(1 또는 0만을 사용하여 올바르게 다시 입력해주세요.")
            user_info['python_availability'] = python_availability
            break
        except ValueError:
            print("입력값(1 또는 0)만을 사용하여 올바르게 다시 입력해주세요.")

    while True:
        try:
            learning_ability_level = int(input("파이썬 활용 가능 여부를 입력해주세요 (1: 전혀 활용할 수 없다, 2: 조금 활용할 수 있다, 3: 활용할 수 있다, 4: 잘 활용할 수 있다): "))
            if learning_ability_level not in (1, 2, 3, 4):
                raise ValueError("입력값(1 또는 0만을 사용하여 올바르게 다시 입력해주세요.")
            user_info['learning_ability_level'] = learning_ability_level
            break
        except ValueError:
            print("입력값(1, 2, 3, 4)만을 사용하여 올바르게 다시 입력해주세요.")

    return user_info

# 파이썬 강의 추천 프로그램
def curriculum_recommend(name, **kwargs):
    """
    파이썬 강의 추천 프로그램
    사용자 정보에 따라 파이썬 과정을 추천합니다.

    Parameters:
    name (str): 사용자 이름
    kwargs (dict): 'python_availability' (int) 및 'learning_ability_level' (int)를 포함하는 키워드 인수

    Returns:
    str: 추천 과정 수준 ('Beginner', 'Intermediate', 'Advanced')
    """
    python_availability = kwargs.get('python_availability', 0)
    learning_ability_level = kwargs.get('learning_ability_level', 1)

    curriculum = ('Beginner', 'Intermediate', 'Advanced')

    if python_availability == 0:
        return curriculum[0]
    else:
        if learning_ability_level == 1:
            return curriculum[0]
        elif learning_ability_level in (2, 3):
            return curriculum[1]
        else:
            return curriculum[2]

# 사용자 입력 받기
user_info = get_user_input()

# 함수 호출
recommended_course = curriculum_recommend(**user_info)
# 출력
print(f"{user_info['name']}님, Python {recommended_course} 강의를 추천드립니다!")

KeyboardInterrupt: Interrupted by user

## 수업 문제 7

- 언팩킹을 활용한 코드를 작성후 공유해 봅시다.

In [ ]:
# 영화 정보 출력 프로그램

def print_info(movie_name, movie_date, movie_director, movie_actor='Unknown'):
  print(f"Movie_name: {movie_name}, Movie_date: {movie_date}, 'Movie_director': {movie_director}, 'Movie_actor': {movie_actor}")

# Database에서 DB를 불러와 dict로 저장(임시로 딕셔너리 dummy data 생성)
movie_info = [
    {
        'movie_name': '인사이드 아웃 2',
        'movie_date': '2023-06-15',
        'movie_director': '피트 닥터',
        'movie_actor': '에이미 포엘러, 필리스 스미스'
    },
    {
        'movie_name': '겨울왕국 2',
        'movie_date': '2019-11-22',
        'movie_director': '크리스 벅, 제니퍼 리',
        'movie_actor': '크리스틴 벨, 이디나 멘젤'
    },
    {
        'movie_name': '알라딘',
        'movie_date': '2019-05-24',
        'movie_director': '가이 리치',
        'movie_actor': '메나 마수드, 나오미 스콧, 윌 스미스'
    }
]

# 리스트의 각 딕셔너리를 언패킹하여 함수 호출
for info in movie_info:
    print_info(**info)

Movie_name: 인사이드 아웃 2, Movie_date: 2023-06-15, 'Movie_director': 피트 닥터, 'Movie_actor': 에이미 포엘러, 필리스 스미스
Movie_name: 겨울왕국 2, Movie_date: 2019-11-22, 'Movie_director': 크리스 벅, 제니퍼 리, 'Movie_actor': 크리스틴 벨, 이디나 멘젤
Movie_name: 알라딘, Movie_date: 2019-05-24, 'Movie_director': 가이 리치, 'Movie_actor': 메나 마수드, 나오미 스콧, 윌 스미스

## 수업 문제 8

- 앞선 예시를 활용하여 람다 함수를 사용한 코드를 작성후 공유해 봅시다.

In [ ]:
# 과일이름 리스트 만들기
fruits = ["apple", "banana", "cherry"]
fruits_list = '\n'.join(map(lambda x: f"{x[0]+1}. {x[1]}", enumerate(fruits)))
print(fruits_list)

1. apple
2. banana
3. cherry

## 수업 문제 9
- Build in 함수 중 처음 마주치거나 관심있는 메서드를 5개 선택하여 사용방법과 예시코드를 공유해 봅시다

### 1. eval()
- 문자열로 된 표현실을 실행하여 그 결과를 반환하는 함수
```
expression = "2 + 3 * 4"
result = eval(expression)
print(result)
>>> 14
```
```
x = 10
expression_with_var = "x*2"
result_with_var = eval(expression_with_var)
print(result_with_var)
>>> 20
```

### 2. isinstance()
- 객체가 특정 클래스 또는 클래스 튜플에 속하는지 확인하는데 사용
```
num = 10
if isinstance(num, int):
print("int 입니다.")
else:
print("int가 아닙니다.")
>>> int 입니다
```

### 3. type()
- 객체의 유행(클래스)를 반환
```
num = 10
text = "Hello"
lst = [1, 2, 3]
print(type(num))
print(type(text))
print(type(lst))
>>>
<class 'int'>
<class 'str'>
<class 'list'>
```

## 수업 문제 10
- 지금까지 학습한 내용을 바탕으로 검색이나 LLM을 활용하여 다음 가이드에 따라  자유로운 주제로 코드를 작성해 공유해 주세요.

- 1) 변수, 연산문 예제 1
- 2) 제어문, 함수예제 2
- 3) 종합 예제 등 자유로운 응용 3

```
주식기록장
```

In [ ]:
# 1) 변수, 연산문 예제 1
# 보유 현금 자산 총액과 보유 주식 자산 총액을 입력 후 금일 주식 구매 금액입력하여 총 자산 요약 나타내기
cash_asserts = float(input("현재 보유하고 있는 현금 자산 총액을 입력해주세요 "))
stock_asserts = float(input("현재 보유하고 있는 주식 자산 총액을 입력해주세요 "))
stock = float(input("지금 구매할 or 구매한 주식 총액을 입력해주세요 "))

total_amount = cash_asserts + stock_asserts
cash_asserts = cash_asserts - stock
stock_asserts = stock_asserts + stock

print(f"당신의 총 자산은 {total_amount}원이며, 현금 자산 : {cash_asserts} / 주식 자산 : {stock_asserts} 입니다.")

현재 보유하고 있는 현금 자산 총액을 입력해주세요 1000
현재 보유하고 있는 주식 자산 총액을 입력해주세요 1000
지금 구매할 or 구매한 주식 총액을 입력해주세요 500
당신의 총 자산은 2000.0원이며, 현금 자산 : 500.0 / 주식 자산 : 1500.0 입니다.

In [ ]:
# 2) 제어문, 함수 예제 2
# 보유 현금 자산 총액과 보유 주식 자산 총액을 입력 후 금일 주식 구매 금액입력하여 총 자산 요약 나타내기

def get_float_input(prompt):
    while True:
        try:
            return float(input(prompt))
        except ValueError:
            print("잘못된 입력입니다. 숫자를 입력해주세요.")

cash_assets = get_float_input("현재 보유하고 있는 현금 자산 총액을 입력해주세요: ")
stock_assets = get_float_input("현재 보유하고 있는 주식 자산 총액을 입력해주세요: ")
stock_purchase = get_float_input("지금 구매할 or 구매한 주식 총액을 입력해주세요: ")

def stock_calculator(cash_assets, stock_assets, stock_purchase):
    new_cash_assets = cash_assets - stock_purchase
    new_stock_assets = stock_assets + stock_purchase
    total_assets = new_cash_assets + new_stock_assets
    return new_cash_assets, new_stock_assets, total_assets

new_cash_assets, new_stock_assets, total_assets = stock_calculator(cash_assets, stock_assets, stock_purchase)

print(f"당신의 총 자산은 {total_assets}원이며, 현금 자산: {new_cash_assets}원 / 주식 자산: {new_stock_assets}원 입니다.")

현재 보유하고 있는 현금 자산 총액을 입력해주세요: 500
현재 보유하고 있는 주식 자산 총액을 입력해주세요: ㅇ
잘못된 입력입니다. 숫자를 입력해주세요.
현재 보유하고 있는 주식 자산 총액을 입력해주세요: ㅇ
잘못된 입력입니다. 숫자를 입력해주세요.
현재 보유하고 있는 주식 자산 총액을 입력해주세요: ㅇ
잘못된 입력입니다. 숫자를 입력해주세요.
현재 보유하고 있는 주식 자산 총액을 입력해주세요: 500
지금 구매할 or 구매한 주식 총액을 입력해주세요: ㅇ
잘못된 입력입니다. 숫자를 입력해주세요.
지금 구매할 or 구매한 주식 총액을 입력해주세요: 100
당신의 총 자산은 1000.0원이며, 현금 자산: 400.0원 / 주식 자산: 600.0원 입니다.

In [ ]:
# 3) 종합 예제 등 자유로운 응용 3
# 주식기록장

# 사용자의 현금 자산 총액과 주식 자산 총액을 입력받는 함수
def get_float_input(prompt):
    while True:
        try:
            return float(input(prompt))
        except ValueError:
            print("잘못된 입력입니다. 숫자를 입력해주세요.")

cash_assets = get_float_input("현재 보유하고 있는 현금 자산 총액을 입력해주세요: ")
stock_assets = get_float_input("현재 보유하고 있는 주식 자산 총액을 입력해주세요: ")

# 자산 보유 현황을 계산해주는 함수
def stock_calculator(cash_assets, stock_assets, stock_purchases):
    new_cash_assets = cash_assets - sum(stock_purchases)
    new_stock_assets = stock_assets + sum(stock_purchases)
    total_assets = new_cash_assets + new_stock_assets
    return new_cash_assets, new_stock_assets, total_assets

# 자산 내역을 출력하는 함수
def print_assets(cash_assets, stock_assets, stock_purchases=None):
    new_cash_assets, new_stock_assets, total_assets = stock_calculator(cash_assets, stock_assets, stock_purchases or [])
    print(f"당신의 총 자산은 {total_assets}원이며, 현금 자산: {new_cash_assets}원 / 주식 자산: {new_stock_assets}원 입니다.")
    if stock_purchases is not None:
        print(f"총 구매한 주식의 개수는 {len(stock_purchases)}개 입니다.")

# 주식 구매 내역을 입력하는 함수
def main():
    stock_purchases = []

    while True:
        user_input = input("지금 구매할 or 구매한 주식 총액을 입력하세요 (종료하려면 숫자가 아닌 값을 입력하세요): ")

        # 숫자가 아닌 값을 입력하면 종료
        if not user_input.replace('.', '', 1).isdigit():
            break

        # 입력한 값을 float로 변환하여 리스트에 추가
        stock_purchases.append(float(user_input))

    print_assets(cash_assets, stock_assets, stock_purchases)

# 해당 함수들이 직접 실행할 경우 작동할 수 있도록 하는 조건문
# 해당 함수들이 모듈로써 다른 파일에서 임포트되어 실행될 때 main()함수는 실행되지 않도록 하는 함수
# 임포트되어 실행될 경우 else문으로 빠져 단순 자산 보유 내역만 출력
if __name__ == "__main__":
    main()
else:
    print_assets(cash_assets, stock_assets)

현재 보유하고 있는 현금 자산 총액을 입력해주세요: 500
현재 보유하고 있는 주식 자산 총액을 입력해주세요: 500
당신의 총 자산은 1000.0원이며, 현금 자산: 500.0원 / 주식 자산: 500.0원 입니다.

<hr>

## 4. 함수 (예제)

문제 1) 두 숫자를 입력받아 더한 결과를 반환하는 함수를 작성하세요.

In [ ]:
a = int(input("첫번째 숫자를 입력하세요 "))
b = int(input("두번째 숫자를 입력하세요 "))

def add(a, b):
  result = a + b
  return result

print(add(a, b))

첫번째 숫자를 입력하세요 5
두번째 숫자를 입력하세요 7
12

문제2) 주어진 리스트의 평균을 계산하여 반환하는 함수를 작성하세요.

In [ ]:
import numpy as np
list_a = [1, 2, 3, 4, 5]

def list_mean(list_a):
  result = np.mean(list_a)
  return result

print(list_mean(list_a))

3.0

문제 3) 두 수의 곱셈과 나눗셈의 나머지를 반환하는 함수

In [ ]:
a = int(input("첫번째 숫자를 입력하세요 "))
b = int(input("두번째 숫자를 입력하세요 "))

def calculator(a, b):
  result1 = a * b
  result2 = a % b
  return result1, result2

print(add(a, b))

첫번째 숫자를 입력하세요 10
두번째 숫자를 입력하세요 5
(50, 0)

문제 4) 문자열의 두번째 글자와 마지막 세번째 글자를 반환하는 함수

In [ ]:
str_ = "apple"

def solution(str_):
  a = str_[1]
  b = str_[-3]
  return a, b

print(solution(str_))

('p', 'p')

문제 5) 두 수의 몫과 나머지를 곱셈 후 반환하는 함수

In [ ]:
a = int(input("첫번째 숫자를 입력하세요 "))
b = int(input("두번째 숫자를 입력하세요 "))

def calculator(a, b):
  result1 = a // b
  result2 = a % b
  return result1, result2

print(calculator(a, b))

첫번째 숫자를 입력하세요 10
두번째 숫자를 입력하세요 5
(2, 0)

문제 6) 아래 코드에서 오류를 수정하여, 함수 내부에서 전역 변수 num의 값을 20으로 변경하고 출력하세요.

In [ ]:
num = 10

def change_num():
  global num
  num = 20
  return num

print(change_num())

20

<hr>

## 4. 함수(심화예제)

- 1. 로또 번호 생성기(필요한 숫자만큼의 6개의 로또 번호를 생성)
-  2. 진수 변환기(십진수 > 2진수, 16진수 :   자동 변환 메서드 사용 금지 !!, 로직으로 구현해주세요)
- 3. 달력 출력기(지정된 연도와 월의 달력을 출력)

In [ ]:
# 1. 로또 번호 생성기(필요한 숫자만큼의 6개의 로또 번호를 생성)
import random

## 1~45까지의 번호 list 생성
### 방법1) for문 사용
numbers01 = []
for i in range(1, 46):
  numbers01.append(i)

### 방법2) list함수 사용
numbers02 = list(range(1, 46))

### 방법3) 삼항연산자 사용
numbers03 = [i for i in range(1, 46)]

## 번호 list 내에서 6개 번호 추출하기
## 중복된 번호를 없애기 위해 random.sample() 사용
result = random.sample(numbers01, 6)
result = random.sample(numbers02, 6)
result = random.sample(numbers03, 6)

print(f"당신의 로또 번호는 {result} 입니다. ")

당신의 로또 번호는 [32, 41, 39, 29, 11, 45] 입니다.

In [ ]:
# 2. 진수 변환기(십진수 > 2진수, 16진수 : 자동 변환 메서드 사용 금지 !!, 로직으로 구현해주세요)
number = int(input("진수 변환할 숫자를 입력하세요 "))
num = int(input("몇진수로 변환할까요? "))

def change(number, num):
  answer = []
  while number > 0:
      result = number % num
      answer.append(result)
      number = number // num
  return answer

a = change(number, num)
a.reverse()
print(f"{num}진수로 변환한 값은 {a} 입니다.")

진수 변환할 숫자를 입력하세요 15
몇진수로 변환할까요? 3
3진수로 변환한 값은 [1, 2, 0] 입니다.

In [ ]:
# 3. 달력 출력기(지정된 연도와 월의 달력을 출력)
# ====== 방법1) calendar 사용 =======
import calendar

# 연도와 월을 입력받기
year = int(input("연도를 입력하세요: "))
month = int(input("월을 입력하세요: "))

# 해당 월의 달력 출력
print(calendar.month(year, month))

# ====== 방법2) datetime만 사용 =======
import datetime

def print_calendar(year, month):
    # 매월의 마지막 날짜 list 저장
    days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

    # 윤년 확인
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        days_in_month[1] = 29

    # 입력된 월의 1일이 무슨 요일인지 확인 (월요일-일요일 : 0-6)
    # weekday() 메소드 사용
    first_day = datetime.date(year, month, 1).weekday()

    # 해당 월의 총 일수
    num_days = days_in_month[month - 1]

    print(f"{year}년 {month}월의 달력:")
    print("월 화 수 목 금 토 일")

    # 첫 번째 주의 공백 출력
    print("   " * first_day, end="")

    # 날짜 출력
    for day in range(1, num_days + 1):
        print(f"{day:2}", end=" ")
        first_day += 1
        if first_day > 6:
            first_day = 0
            print()

    print()

year = int(input("연도를 입력하세요 (예: 2024): "))
month = int(input("월을 입력하세요 (1-12): "))

print_calendar(year, month)

연도를 입력하세요: 2024
월을 입력하세요: 7
     July 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31