<a href="https://colab.research.google.com/github/YugyeongJo/SeSAC_Python_Study/blob/main/docs/03_Python_Basic(Control_Statement)_0702.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 기초

<목차>
1. 변수
2. 연산자
3. 제어문
4. 함수
5. 자료형 1
6. 자료형 2
7. 정규표현식
8. 판다스
9. 시각화
10. 파일 입출력

<hr>

# 3. 제어문(문법)

- 조건식에 따라서 실행 여부를 결정하는 조건문, 정해진 횟수만큼 반복해서 실행시키는 반복문 등 프로그램의 실행을 제어하는 구문

|Control Statement|Syntax|
|--|--|
|조건문(If문)|if ~ elif ~ else|
|반복문(for문)|for ~ in|
|반복문(while문)|while ~ else|
|break, continue문|break, continue|

## 제어문 : 조건문 If문

- if 구문
  + if는 조건문에 사용하는 키워드
  + if 다음에는 '조건식'이 존재하는데 이 '조건식'이 참(True)이면 들여쓰기 한 문장 실행
  + if 문장의 조건식 뒤에는 콜론(:)을 입력하고 블록의 시작을 알림
  + 조건식이 참일 경우 실행할 문장과 거짓일 경우 실행할 문장이 다를 경우 if~else 구문 사용
- else 구문
  + else 구문은 if 문의 조건식이 False일 경우 실행하는 블록을 정의
  + else는 단독으로 사용될 수 없으며 반드시 if와 같이 사용돼야 함
- elif 구문
  + 여러개의 조건식을 사용하려면 elif 구문을 사용
  + elif는 단독으로 사용 불가

```
if 조건식1 :    
  조건식1이 참(True)일 경우 실행할 문장
elif 조건식2 :    
  조건식2가 참(True)일 경우 실행할 문장
elif 조건식3 :    
  조건식3이 참(True)일 경우 실행할 문장
else:
  모든 조건식이 거짓(False)일 경우 실행할 문장
```

In [ ]:
# 변수 정의
c = 4

In [ ]:
# if-elif-else문 예시
if c > 5:
  print(f"{c}는 5보다 큽니다.")
elif c == 5:
  print(f"{c}는 5와 같습니다.")
else:
  print(f"{c}는 5보다 작습니다.")

4는 5보다 작습니다.

In [ ]:
age = int(input("나이를 입력하세요"))
income = int(input("연봉을 입력하세요"))
credit_score = int(input("신용도를 입력하세요"))

print(f"당신의 나이는 {age}세이며, 연봉은 {income}원이며, 신용도는 {credit_score} 입니다.")

def loan_availability_check(age, income, credit_score):
  if age > 18:
    if income > 300000003:
      if credit_score > 650:
        loan_availability = "당신은 대출 가능 대상자입니다."
      else:
        loan_availability = "당신의 신용도가 너무 낮기 때문에 대출 가능 대상자가 아닙니다."
    else:
      loan_availability = "당신의 연봉이 너무 낮기 때문에 대출 가능 대상자가 아닙니다."
  else:
    loan_availability = "당신은 너무 어리기 때문에 대출 가능 대상자가 아닙니다."
  return print(loan_availability)

loan_availability_check(age, income, credit_score)

나이를 입력하세요28
연봉을 입력하세요33000000
신용도를 입력하세요750
당신의 나이는 28세이며, 연봉은 33000000원이며, 신용도는 750 입니다.
당신은 대출 가능 대상자입니다.

In [ ]:
temperature = int(input("기온을 입력하세요"))
humidity = int(input("습도를 입력하세요"))
wind_speed = int(input("풍속을 입력하세요"))

print(f"현재 기온은 {temperature}도, 습도는 {humidity}%, 풍속은 {wind_speed} 입니다.")

def weather_condition(temperature, humidity, wind_speed):
  if temperature > 85:
    if humidity > 60:
      weather_condition = "It's a hot and humid day."
    else:
      weather_condition = "It's a hot day."
  elif temperature > 60:
    if wind_speed > 20:
      weather_condition = "It's a pleasant but windy day."
    else:
      weather_condition = "It's a pleasant day."
  else:
    weather_condition = "It's a cold day."
  return print(weather_condition)

weather_condition(temperature, humidity, wind_speed)

기온을 입력하세요85
습도를 입력하세요40
풍속을 입력하세요10
현재 기온은 85도, 습도는 40%, 풍속은 10 입니다.
It's a pleasant day.

## 제어문 : 반복문 for ~ in

- for ~ in 구문
 + 반복문을 작성할 때 사용하는 구문
 + 리스트, 튜플, 문자열 등 순회 가능한 객체의 각 요소를 하나씩 가져와서 반복문을 실행
 + 나열 가능한 자료에서 자료의 항목들을 모두 소비할 때까지 처리

```
for 변수 in 나열할 자료:
  실행할 문장
```

In [ ]:
# 리스트 for문 적용
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [ ]:
# range를 활용한 for문 반복
for i in range(5):
  print(i)
# range(숫자) : 범위 지정
# 0부터 (숫자-1)까지

0
1
2
3
4

In [ ]:
# 문자열 data for문 적용
favorite_hobby = ['reading', 'fishing', 'shopping']
for hobby in favorite_hobby :
  print('%s is my favorite hobby' % hobby)
  # % 는 숫자형 data 포맷팅
  # %s 는 문자형 data 포맷팅

reading is my favorite hobby
fishing is my favorite hobby
shopping is my favorite hobby

In [ ]:
# 딕셔너리 for문 적용
color = {"apple":"green", "banana":"yellow", "cherry":"red"}
for dict in color.items():
  print(dict)

('apple', 'green')
('banana', 'yellow')
('cherry', 'red')

In [ ]:
word = 'hello'
for letter in word:
  print(letter)

h
e
l
l
o

In [ ]:
numbers = (1, 2, 3)
for number in numbers:
  print(number)

1
2
3

In [ ]:
matrix = [
    [1, 2, 3]
    , [4, 5, 6]
    , [7, 8, 9]
]
for row in matrix:
  for element in row:
    print(element, end=' ')
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
student_scores = {
    'Alice': 85
    , 'Bob' : 90
    , 'Charlie' : 78
}
for student, score in student_scores.items():
  print(f'{student}: {score}')

Alice: 85
Bob: 90
Charlie: 78

### for ~ in ~ range()
  - for 문장의 items 객체 위치에 range(from, to, by)를 이용해 반복문 실행 가능
    + 변수 : 각 반복마다 현재 값을 저장할 변수
    + 시작 : 반복을 시작할 숫자 (기본값은 0)
    + 끝 : 반복을 끝낼 숫자 (입력한 숫자 - 1)
    + 스텝 : 각 반복마다 증가할 값 (기본값 1)
  - range() 함수를 이용하면 인덱스 위주의 반복을 실행시킬 수 있음

```
for 변수 in range(from시작, to끝, by스텝):
  실행할 문장
```

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [ ]:
for i in range(0, 10, 2):
  print(i)

0
2
4
6
8

In [ ]:
for i in range(5, 0, -1):
  print(i)

5
4
3
2
1

In [ ]:
# 구구단 출력
for i in range(1, 10):
  for j in range(1,10):
    print(f'{i} x {j} = {i*j}')
  print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### random 모듈

- 난수(random number)

```
import random
변수.random모듈 함수
```

random모듈 함수 종류
- random() : 0부터 1사이의 실수를 무작위로 추출
- shuffle() : 시퀀스를 뒤죽박죽 섞어놓는 함수
- choice() : 원소 하나를 아무거나 뽑아주는 함수
- choices( , k=숫자) : 무작위로 k개의 원소를 추출(중복추출 가능)
- uniform() : 2개의 숫자 사이에서 무작위로 하나의 실수를 추출
- randint() : 2개의 숫자 사이에서 무작위로 하나의 정수를 추출
- randrange() : range()함수와 합쳐진 함수로 range()함수로 만들어지는 정수 중 하나를 무작위로 추출
- sample( , k=숫자) : 무작위로 k개의 원소를 추출(중복추출 불가능)

## 제어문 : 반복문 while

- 조건문이 True일 동안 계속 실행
- 조건문의 결과가 False이면 else 블록을 1회 실행하고 구문을 빠져나옴

```
while 조건문:
  조건이 Treu일 동안 반복 실행할 구문
else:
  조건이 False일 경우 실행할 문장
```

In [ ]:
i = 0
while i <= 10:
  print(i, end=' ')
  i = i + 1

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
# 홀수 출력
num = 0
while num <= 10:
  if num%2 == 1:
    print(num, end=' ')
  num += 1

1 3 5 7 9

In [ ]:
# 짝수 출력
num = 1
while num <= 10:
  if num%2 == 0:
    print(num, end=' ')
  num += 1

2 4 6 8 10

In [ ]:
count = 0
while count < 5:
  print(count)
  count += 1

0
1
2
3
4

In [ ]:
user_input = ""
while user_input.lower() != "exit":
  user_input = input("Tyep 'exit' to end the loop : ")
print("Exited loop")

Tyep 'exit' to end the loop : d
Tyep 'exit' to end the loop : d
Tyep 'exit' to end the loop : g
Tyep 'exit' to end the loop : s
Tyep 'exit' to end the loop : e
Tyep 'exit' to end the loop : d
Tyep 'exit' to end the loop : f
Tyep 'exit' to end the loop : s
Tyep 'exit' to end the loop : e
Tyep 'exit' to end the loop : Exit
Exited loop

In [ ]:
import time

count = 0
while True:
  print(count)
  count += 1
  time.sleep(1)
  if count == 5:
    break

0
1
2
3
4

In [ ]:
import random

target = random. randint(1, 100)
guess = None
attempts = 0

while guess != target:
  guess = int(input("Guess the number (between 1 and 100): "))
  attempts += 1
  if guess < target:
    print("Too low!")
  elif guess > target :
    print("Too high!")
  else:
    print(f"Congratulations! You've guessed the number in {attempts} attempts.")

Guess the number (between 1 and 100): 50
Too low!
Guess the number (between 1 and 100): 70
Too high!
Guess the number (between 1 and 100): 60
Too low!
Guess the number (between 1 and 100): 65
Too low!
Guess the number (between 1 and 100): 67
Too low!
Guess the number (between 1 and 100): 66
Too low!
Guess the number (between 1 and 100): 69
Congratulations! You've guessed the number in 7 attempts.

## break, continue 문

- break문
  + break를 만나면 break를 포함하는 반복문을 완전히 탈출
- continue문
  + 반복문 내에서 continue 이후의 문자을 건너뜀

In [ ]:
for a in range(0, 3):
  for b in range(1, 3):
    if a == b :
      break
    print(a, b)

0 1
0 2
2 1

In [ ]:
num = 1
while num <= 10:
  if num == 5:
    break
  print(num)
  num += 1

1
2
3
4

In [ ]:
num = 1
while num <= 10:
  if num % 2 != 0:
    num += 1
    continue
  print(num)
  num += 1

2
4
6
8
10

In [ ]:
while True:
  user_input = input("Type 'quit' to exit : ")
  if user_input.lower() == 'quit':
    break
  print("You typed : ", user_input)

Type 'quit' to exit : d
You typed :  d
Type 'quit' to exit : s
You typed :  s
Type 'quit' to exit : quit

In [ ]:
num = 1
while num <= 100:
  if num % 3 == 0:
    num += 1
    continue
  print(num)
  num += 1

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
52
53
55
56
58
59
61
62
64
65
67
68
70
71
73
74
76
77
79
80
82
83
85
86
88
89
91
92
94
95
97
98
100

## 제어문 : 중첩 루프

- 반복문 안에 반복문을 포함시킬 수 있음
- 2차원 이상의 데이터 구조의 모든 항목들을 처리하기 위해 사용할 수 있음

In [ ]:
for i in range(2, 10) :
  for j in range(1, 10):
    print(f"{i} x {j} = {i * j}")
  print()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
# 이차원 리스트의 요소를 출력하는 예시
matrix = [
    [1, 2, 3]
    , [4, 5, 6]
    , [7, 8, 9]
]

for row in matrix:
  for item in row:
    print(item, end=' ')
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
for i in range(1, 10):
  for j in range(2, 10):
    print("{}x{}={:>2}".format(j, i, i*j), end='\t')
  print()

2x1= 2	3x1= 3	4x1= 4	5x1= 5	6x1= 6	7x1= 7	8x1= 8	9x1= 9
2x2= 4	3x2= 6	4x2= 8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18
2x3= 6	3x3= 9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27
2x4= 8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36
2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45
2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54
2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63
2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72
2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81

<hr>

# 3. 제어문(문제)

## 수업 문제 1 (if문)

- 제어문 if ~ elif ~ else~ 의 코드를 활용하여 다음 코드를 작성하세요

1. 기온, 습도, 풍속을 입력 받습니다.

2.  - 기온이 30도이상이고 습도가 70프로 이상이면 메세지 출력 "덥고습합니다."
    - 기온이 30도 이상이고 습도가 70프로 미만이면 메세지 출력 "그래도 많지 덥지 않네요."

3. - 기온이 30도 미만이고 풍속이 10 이상이면 메세지 출력 "바람이 그래도 불어 다행이네요"
  - 기온이 30도 미만이고 풍속이 10미만이면 메세지 출력 "바람도 없고 덥습니다"

In [ ]:
temperature = int(input("기온을 입력하세요"))
humidity = int(input("습도를 입력하세요"))
wind_speed = int(input("풍속을 입력하세요"))

print(f"현재 기온은 {temperature}도, 습도는 {humidity}%, 풍속은 {wind_speed} 입니다.")

def weather(temperature, humidity, wind_speed):
  if temperature >= 30:
    if humidity >= 70:
      weather_condition = "덥고습합니다."
    else:
      weather_condition = "그래도 많지 덥지 않네요."
  elif wind_speed >= 10:
      weather_condition = "바람이 그래도 불어 다행이네요."
  else:
    weather_condition = "바람도 없고 덥습니다."
  return print(weather_condition)

weather(temperature, humidity, wind_speed)

기온을 입력하세요28
습도를 입력하세요50
풍속을 입력하세요9
현재 기온은 28도, 습도는 50%, 풍속은 9 입니다.
바람도 없고 덥습니다.

### 수업 문제 2 (if문)

- 제어문 if ~ elif ~ else~ 의 코드를 활용하여 다음 코드를 작성하세요

- 연령, 수입, 대출 상환 잔여기간를 적절한 안내와 함께 입력 받습니다.

1.
  - 연령이 28세 이상이면서 수입이 50000달러이상이고 대출 상환 잔여기간이 30일 이상이면 메세지 출력 "대출상환이 30일 이상 남았습니다."
  - 연령이 28세 이상이면서 수입이 50000달러이상이고 대출 상환 잔여기간이 30일 미만이면 메세지 출력 "대출상환이 30일 이내로 임박했습니다."

2.
  - 연령이 18세 이상이고 28세미만이면서 수입이 40000달러이상이고 대출 상환 잔여기간이 30일 이상이면 메세지 출력 "대출상환이 30일 이상 남아 있으나 상환준비를 해주세요."
  - 연령이 18세 이상이면서 28세미만이면서 수입이 40000달러이상이고 대출 상환 잔여기간이 30일 미만이면 메세지 출력 "대출상환이 30일 이내로 임박했으니 은행에 방문해서 상환상담을  해주세요."

3.
  - 연령이 18세 미만이면 메세지 출력 "대출에 해당사항이 없는 연령입니다."

In [ ]:
age = int(input("나이를 입력하세요: "))
income = int(input("수입을 입력하세요(달러 기준): "))
repay_loan_remainded_period = int(input("대출 상환 잔여기간을 입력하세요(일 기준): "))

def loan(age, income, repay_loan_remainded_period):
  if age >= 28:
      if income >= 50000:
          if repay_loan_remainded_period >= 30:
              comment = "대출상환이 30일 이상 남았습니다."
          else:
              comment = "대출상환이 30일 이내로 임박했습니다."
      else:
          comment = "수입이 부족하여 대출조건을 만족하지 못합니다."
  elif age >= 18:
      if income >= 40000:
          if repay_loan_remainded_period >= 30:
              comment = "대출상환이 30일 이상 남아 있으나 상환준비를 해주세요."
          else:
              comment = "대출상환이 30일 이내로 임박했으니 은행에 방문해서 상환상담을 해주세요."
      else:
          comment = "수입이 부족하여 대출조건을 만족하지 못합니다."
  else:
      comment = "대출에 해당사항이 없는 연령입니다."

  return print(comment)

loan(age, income, repay_loan_remainded_period)

나이를 입력하세요: 30
수입을 입력하세요(달러 기준): 20000
대출 상환 잔여기간을 입력하세요(일 기준): 30
수입이 부족하여 대출조건을 만족하지 못합니다.

### 수업 문제 3 (for문)

- 제어문 for문 사용하여 구구단 출력하기

In [ ]:
# 1단계 예시) 9단에서1단으로
for i in range(9, 0, -1):
  for j in range(1,10):
    print(f'{i} x {j} = {i*j}')
  print()

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9

In [ ]:
# 2단계 예시) 9*9=81부터 1*1=1까지
for i in range(9, 0, -1):
  for j in range(9, 0, -1):
    print(f'{i} x {j} = {i*j}')
  print()

9 x 9 = 81
9 x 8 = 72
9 x 7 = 63
9 x 6 = 54
9 x 5 = 45
9 x 4 = 36
9 x 3 = 27
9 x 2 = 18
9 x 1 = 9

8 x 9 = 72
8 x 8 = 64
8 x 7 = 56
8 x 6 = 48
8 x 5 = 40
8 x 4 = 32
8 x 3 = 24
8 x 2 = 16
8 x 1 = 8

7 x 9 = 63
7 x 8 = 56
7 x 7 = 49
7 x 6 = 42
7 x 5 = 35
7 x 4 = 28
7 x 3 = 21
7 x 2 = 14
7 x 1 = 7

6 x 9 = 54
6 x 8 = 48
6 x 7 = 42
6 x 6 = 36
6 x 5 = 30
6 x 4 = 24
6 x 3 = 18
6 x 2 = 12
6 x 1 = 6

5 x 9 = 45
5 x 8 = 40
5 x 7 = 35
5 x 6 = 30
5 x 5 = 25
5 x 4 = 20
5 x 3 = 15
5 x 2 = 10
5 x 1 = 5

4 x 9 = 36
4 x 8 = 32
4 x 7 = 28
4 x 6 = 24
4 x 5 = 20
4 x 4 = 16
4 x 3 = 12
4 x 2 = 8
4 x 1 = 4

3 x 9 = 27
3 x 8 = 24
3 x 7 = 21
3 x 6 = 18
3 x 5 = 15
3 x 4 = 12
3 x 3 = 9
3 x 2 = 6
3 x 1 = 3

2 x 9 = 18
2 x 8 = 16
2 x 7 = 14
2 x 6 = 12
2 x 5 = 10
2 x 4 = 8
2 x 3 = 6
2 x 2 = 4
2 x 1 = 2

1 x 9 = 9
1 x 8 = 8
1 x 7 = 7
1 x 6 = 6
1 x 5 = 5
1 x 4 = 4
1 x 3 = 3
1 x 2 = 2
1 x 1 = 1

In [ ]:
# 3단계 예시) 자유로운 응용 구구단 표현
# 출력하고자 하는 구구단 단수 입력받아서 해당 구구단 출력

import sys

n = int(input("출력할 구구단 단수를 입력해주세요"))
how_calculation = input("정상적으로 출력하고 싶다면 'O', 역순으로 출력하고 싶다면 'X'를 입력하세요(대소문자 상관 없음)")
how_calculation = how_calculation.upper()

def multiplication_tables(n, how_calculation):
  if how_calculation == 'O':
    for i in range(1, 10):
      print(f'{n} x {i} = {n*i}')
  elif how_calculation == 'X':
    for j in range(9, 0, -1):
      print(f'{n} x {j} = {n*j}')
  else:
    sys.exit("값을 잘못 입력하였습니다. 프로그램 종료")


multiplication_tables(n, how_calculation)

출력할 구구단 단수를 입력해주세요9
정상적으로 출력하고 싶다면 'O', 역순으로 출력하고 싶다면 'X'를 입력하세요(대소문자 상관 없음)x
9 x 9 = 81
9 x 8 = 72
9 x 7 = 63
9 x 6 = 54
9 x 5 = 45
9 x 4 = 36
9 x 3 = 27
9 x 2 = 18
9 x 1 = 9

### 수업 문제 4 (while문)

- 숫자맞추기

```
코드를 응용하여 간단 스무고개 게임을 코딩 후 공유해 주세요
1단계예시) 범위를 바꿔보기
2단계예시) 표현을 바꿔보기
3단계예시) 사람과 동물 구분하기, 식물이름 구분하기 등 자유로운 응용
```

In [ ]:
# 1단계예시) 범위를 바꿔보기
import random

target = random.randint(1, 200)
guess = None
attempts = 0

while guess != target:
  guess = int(input("Guess the number (between 1 and 100): "))
  attempts += 1
  if guess < target:
    print("Too low!")
  elif guess > target :
    print("Too high!")
  else:
    print(f"Congratulations! You've guessed the number in {attempts} attempts.")

Guess the number (between 1 and 100): 100
Too low!
Guess the number (between 1 and 100): 150
Too low!
Guess the number (between 1 and 100): 170
Too low!
Guess the number (between 1 and 100): 180
Too low!
Guess the number (between 1 and 100): 190
Too low!
Guess the number (between 1 and 100): 195
Too high!
Guess the number (between 1 and 100): 194
Too high!
Guess the number (between 1 and 100): 193
Congratulations! You've guessed the number in 8 attempts.

In [ ]:
# 2단계예시) 표현을 바꿔보기
import random
import string
import sys

letter_set = string.ascii_letters
target = random.choice(letter_set)
guess = None
attempts = 0

while guess != target:
  guess = input("Uppercase letters are larger than lowercase letters.\nGuess the string (between a and z, betwee A and Z ): ")
  attempts += 1
  if letter_set.index(guess) < letter_set.index(target):
    print("Too low!")
  elif letter_set.index(guess) > letter_set.index(target) :
    print("Too high!")
  elif letter_set.index(guess) == letter_set.index(target):
    sys.exit(f"Congratulations! You've guessed the number in {attempts} attempts.")
  else:
    sys.exit("값을 잘못 입력하였습니다. 게임을 다시 시작해주세요")

Uppercase letters are larger than lowercase letters.
Guess the string (between a and z, betwee A and Z ): a
Too low!
Uppercase letters are larger than lowercase letters.
Guess the string (between a and z, betwee A and Z ): A
Too high!
Uppercase letters are larger than lowercase letters.
Guess the string (between a and z, betwee A and Z ): d
Too low!
Uppercase letters are larger than lowercase letters.
Guess the string (between a and z, betwee A and Z ): t
Too high!
Uppercase letters are larger than lowercase letters.
Guess the string (between a and z, betwee A and Z ): g
Too low!
Uppercase letters are larger than lowercase letters.
Guess the string (between a and z, betwee A and Z ): e
Too low!
Uppercase letters are larger than lowercase letters.
Guess the string (between a and z, betwee A and Z ): f
Too low!
Uppercase letters are larger than lowercase letters.
Guess the string (between a and z, betwee A and Z ): i
Too low!
Uppercase letters are larger than lowercase letters.
Guess the string (between a and z, betwee A and Z ): j
Too low!
Uppercase letters are larger than lowercase letters.
Guess the string (between a and z, betwee A and Z ): k
Too low!
Uppercase letters are larger than lowercase letters.
Guess the string (between a and z, betwee A and Z ): l

SystemExit: Congratulations! You've guessed the number in 11 attempts.

In [ ]:
# 3단계예시) 사람과 동물 구분하기, 식물이름 구분하기 등 자유로운 응용
# 프로모션 이벤트 만들기
import random
import string
import sys

promotion_set = ["아이패드", "애플워치", "백화점상품권", "호텔숙박권", "노트북", "샤넬백", "냉장고", "커피기프티콘"]
print("지금 가장 받고 싶은 선물을 3번 안에 맞추면 경품 증정!")
print(promotion_set)

target = random.choice(promotion_set)
guess = None
attempts = 0

while guess != target:
  guess = input("마스코트가 지금 가장 받고 싶어하는 선물은 무엇일까요? 기회는 3번!")
  attempts += 1
  if guess == target:
    print(f"정답! {attempts}번만에 맞추셨네요!")
  else:
    if attempts >= 1 and attempts < 3:
      remaind_count = 3-attempts
      print(f"틀렸습니다. 남은 기회는 {remaind_count}번 ")
    else:
      sys.exit("기회를 모두 소진하였습니다.")

지금 가장 받고 싶은 선물을 3번 안에 맞추면 경품 증정!
마스코트가 지금 가장 받고 싶어하는 선물은 무엇일까요? 노트북
정답! 1번만에 맞추셨네요!

### 수업 문제 5

- 특수문자를 사용하여 다양한 모양 찍기를 시도해서 코딩내용을 공유해 봅시다

```
1단계예시) 특수문자를바꿔보기

2단계예시) range 범위바꿔보기

3단계예시) 자유로운응용(코드의 주요 컨셉을 주석으로 넣어주세요)
```

In [ ]:
# 1단계예시) 특수문자를바꿔보기
n = int(input("숫자를 입력하세요"))
symbol = input("넣고자 하는 특수문자를 입력하세요")

for i in range(n):
  for j in range(n-i-1):
    print(" ", end='')
  for j in range(2 * i+1):
    print(symbol, end='')
  print()
for i in range(n - 2, -1, -1):
  for j in range(n - i - 1):
    print(" ", end='')
  for j in range(2 * i+1):
    print(symbol, end='')
  print()

숫자를 입력하세요5
넣고자 하는 특수문자를 입력하세요@
    @
   @@@
  @@@@@
 @@@@@@@
@@@@@@@@@
 @@@@@@@
  @@@@@
   @@@
    @

In [ ]:
# 2단계예시) range 범위바꿔보기
# 2단계씩 건너뛰면서 출력
n = int(input("숫자를 입력하세요")) * 2
symbol = input("넣고자 하는 특수문자를 입력하세요")

for i in range(0, n, 2):
  for j in range(n-i-1):
    print(" ", end='')
  for j in range(2 * i+1):
    print(symbol, end='')
  print()

숫자를 입력하세요5
넣고자 하는 특수문자를 입력하세요@
         @
       @@@@@
     @@@@@@@@@
   @@@@@@@@@@@@@
 @@@@@@@@@@@@@@@@@

In [ ]:
# 3단계예시) 자유로운응용(코드의 주요 컨셉을 주석으로 넣어주세요)
# 계단 만들기
sybol = input("사용하고자 하는 특수문자를 입력하세요")
stairs = int(input("만들고자 하는 계단의 층수를 입력하세요"))

for i in range(stairs):
    for j in range(stairs - i - 1):
        print(" ", end='')
    for j in range(i + 1):
        print(symbol, end='')
    print()

사용하고자 하는 특수문자를 입력하세요@
만들고자 하는 계단의 층수를 입력하세요5
    @
   @@
  @@@
 @@@@
@@@@@

### 수업 문제 6

- 제어문 최종 프로젝트를 다음 주제에 따라 코딩을 시도하고 공유해 주세요

```
가위바위보 게임

1)  게임의 규칙 정리
2)  필요한 변수 설정 및 초기화(가위, 바위, 보 : 문자열 또는 숫자로 변경)
3)  게임의 시작 및 종료 조건(while true, break)
4)  게임의 점수 조건(변수 설정과 복합연산자)
5)  적절한 디버깅
```

In [ ]:
import random

RPS = ["가위", "바위", "보"]
user_score = 0
computer_score = 0

print("게임을 시작합니다!")
while True:
  game_RPS = random.choice(RPS)
  user_RPS = input("가위, 바위, 보 중 선택하세요")

  if game_RPS == '가위':
    if user_RPS == '가위':
      print(f"Computer {game_RPS}, Player {user_RPS}이므로 무승부입니다.")
    elif user_RPS == '바위':
      print(f"Computer {game_RPS}, Player {user_RPS}이므로 Player win!")
      user_score += 1
    elif user_RPS == '보':
      print(f"Computer {game_RPS}, Player {user_RPS}이므로 Computer win!")
      computer_score += 1
    else:
      print("값을 잘못입력하였습니다. 다시 시도해주세요. ")
  elif game_RPS == '바위':
    if user_RPS == '가위':
      print(f"Computer {game_RPS}, Player {user_RPS}이므로 Computer win!")
      computer_score += 1
    elif user_RPS == '바위':
      print(f"Computer {game_RPS}, Player {user_RPS}이므로 무승부입니다.")
    elif user_RPS == '보':
      print(f"Computer {game_RPS}, Player {user_RPS}이므로 Player win!")
      user_score += 1
    else:
      print("값을 잘못입력하였습니다. 다시 시도해주세요. ")
  else:
    if user_RPS == '가위':
      print(f"Computer {game_RPS}, Player {user_RPS}이므로 Player win!")
      user_score += 1
    elif user_RPS == '바위':
      print(f"Computer {game_RPS}, Player {user_RPS}이므로 Computer win!")
      computer_score += 1
    elif user_RPS == '보':
      print(f"Computer {game_RPS}, Player {user_RPS}이므로 무승부입니다.")
    else:
      print("값을 잘못입력하였습니다. 다시 시도해주세요. ")

  game_continue = input("게임을 종료하시겠습니까?(종료를 희망한다면 '종료'를 입력, 계속 진행을 희망한다면 아무거나 입력하세요.)")
  print()
  if game_continue == '종료':
    print(f"Computer {computer_score}점, Player {user_score}점")
    break
  else:
    continue

게임을 시작합니다!
가위, 바위, 보 중 선택하세요보
Computer 바위, Player 보이므로 Player win!
게임을 종료하시겠습니까?(종료를 희망한다면 '종료'를 입력, 계속 진행을 희망한다면 아무거나 입력하세요.)

가위, 바위, 보 중 선택하세요가위
Computer 보, Player 가위이므로 Player win!
게임을 종료하시겠습니까?(종료를 희망한다면 '종료'를 입력, 계속 진행을 희망한다면 아무거나 입력하세요.)종료

Computer 0점, Player 2점

<hr>

# 3. 제어문(예제)

## 예제1. 구구단 출력1

In [ ]:
for i in range(1, 10):
  for j in range(1, 10):
    print(i*j, end=' ')
  print()

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

## 예제2. 구구단 출력2

In [ ]:
# 세로방향으로 구구단 출력
for i in range(1, 10):
  for j in range(2, 10):
    print(i*j, end=' ')
  print()

2 3 4 5 6 7 8 9
4 6 8 10 12 14 16 18
6 9 12 15 18 21 24 27
8 12 16 20 24 28 32 36
10 15 20 25 30 35 40 45
12 18 24 30 36 42 48 54
14 21 28 35 42 49 56 63
16 24 32 40 48 56 64 72
18 27 36 45 54 63 72 81

## 예제3. 구구단 출력 3

In [ ]:
for i in range(1, 10):
  for j in range(2, 10):
    print(f"{i}x{j}={i*j}", end=' ')
  print()

1x2=2 1x3=3 1x4=4 1x5=5 1x6=6 1x7=7 1x8=8 1x9=9
2x2=4 2x3=6 2x4=8 2x5=10 2x6=12 2x7=14 2x8=16 2x9=18
3x2=6 3x3=9 3x4=12 3x5=15 3x6=18 3x7=21 3x8=24 3x9=27
4x2=8 4x3=12 4x4=16 4x5=20 4x6=24 4x7=28 4x8=32 4x9=36
5x2=10 5x3=15 5x4=20 5x5=25 5x6=30 5x7=35 5x8=40 5x9=45
6x2=12 6x3=18 6x4=24 6x5=30 6x6=36 6x7=42 6x8=48 6x9=54
7x2=14 7x3=21 7x4=28 7x5=35 7x6=42 7x7=49 7x8=56 7x9=63
8x2=16 8x3=24 8x4=32 8x5=40 8x6=48 8x7=56 8x8=64 8x9=72
9x2=18 9x3=27 9x4=36 9x5=45 9x6=54 9x7=63 9x8=72 9x9=81

## 예제 4. 1부터 10까지의 홀수 (또는 짝수)를 출력하세요.

In [ ]:
# 홀수 출력
n = int(input("숫자를 입력하세요"))
for i in range(1, n+1, 2):
  print(i)

숫자를 입력하세요10
1
3
5
7
9

In [ ]:
# 짝수 출력
n = int(input("숫자를 입력하세요"))
for i in range(2, n+1, 2):
  print(i)

숫자를 입력하세요10
2
4
6
8
10

## 예제 5. 1부터 10까지의 숫자를 거꾸로 출력하세요.

In [ ]:
for i in range(10, 0, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1

## 예제 6. 1부터 10까지의 숫자 중 홀수는 '*', 짝수는 '@'대체하여 출력하세요.

In [ ]:
n = int(input("숫자를 입력하세요"))

for i in range(1, n+1):
  if i % 2 == 0:
    print('@', end=' ')
  else:
    print('*', end=' ')

숫자를 입력하세요20
* @ * @ * @ * @ * @ * @ * @ * @ * @ * @

## 예제 7. 사용자로부터 숫자를 입력받아 해당 숫자만큼의 층수를 가지는 피라미드를 "*"로 출력하세요.

In [ ]:
num = int(input("숫자를 입력하세요"))

for i in range(1, num+1):
  print(" " * (num - i) + "*" * (2*i - 1))

숫자를 입력하세요10
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

## 예제 8. 사용자로부터 숫자를 입력받아 해당 숫자만큼의 계단식 별찍기를 출력하세요.

In [ ]:
num = int(input("숫자를 입력하세요"))

for i in range(1, num+1):
  print('*'*i)

숫자를 입력하세요10
*
**
***
****
*****
******
*******
********
*********
**********

<hr>

# 3. 제어문(심화 예제)

## 다차원 리스트 인덱싱

In [ ]:
three_d_list = [
    [  # Layer 1
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ],
    [  # Layer 2
        [10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]
    ],
    [  # Layer 3
        [19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]
    ]
]

print(three_d_list[1][0][0])

10