<a href="https://colab.research.google.com/github/YugyeongJo/SeSAC_Python_Study/blob/main/docs/05_Python_Basic(Datatype_List)_0708_0709.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 기초

<목차>
1. 변수
2. 연산자
3. 제어문
4. 함수
5. 자료형 1
6. 자료형 2
7. 정규표현식
8. 판다스
9. 시각화
10. 파일 입출력

<hr>

# 5. 자료형 1

- 리스트(List) : 다양한 데이터 유형을 포함할 수 있으며 데이터 수집, 전처리, 모델 입력 등 여러 단계에서 중요한 역할
  + 데이터 수집 및 저장 : 데이터셋을 리스트에 저장하여 관리.
  ex) 입력 데이터, 레이블, 예측 결과 등
  + 데이터 전처리 : 데이터를 정렬, 필터링, 변환 등의 작업을 수행
  ex) 결측치 처리, 데이터 정규화, 데이터 증간 등
  + 모델 입력 : 배열이나 텐서로 변환하여 모델의 입력으로 사용.
  ex) numpy배열이나 tensorflow 텐서로 변환.
  + 결과 저장 및 분석 : 모델의 예측 결과나 성능 지표를 저장하고 분석.
  ex) 예측값, 손실값, 정확도 등

## 리스트(List)의 특징
- Ordered : 데이터 삽입 순서 유지
- Changeable : 목록 변경 가능하며 항목을 수정 가능
- Heterogeneous : 다양한 유형의 데이터를 나열하고 포함
- Contains duplicate : 중복 데이터 허용

## 표준 라이브러리에 포함된 리스트(List) 자료형의 기본 기능

|방법|설명|비고|
|--|--|--|
|listData = []|리스트를 만들어 줌||
|len(listData)|리스트의 항목의 수를 반환||
|min(listData), max(listData)|리스트에서 가장 작은(min)항목과 가장 큰(max)항목을 반환||
|listData[from:to]|리스트의 from 위치부터 to 위치까지 부분 데이터를 추출(to 위치의 항목은 포함 안 됨||
|listData.append(value)|list에 value를 추가||
|listData.clear()|list의 모든 항목을 삭제||
|listData.count(value)|리스트에서 value의 개수를 반환||
|listData.extend(newList)|list에 newList를 추가||
|+|두 리스트를 연결함||
|*|리스트를 곱한 수 만큼 반복||
|listData.index(value, position=0)|position위치 이후에서 value의 값이 있는 인덱스를 반환||
|listData.insert(index, value)|list의 index위치에 value를 삽입||
|listData.remove(value)|리스트에서 해당 값을 삭제||
|del listData[index]|리스트에서 인덱스를 이용해 항목을 삭제||
|listData.pop()|리스트에서 가장 마지막 항목을 반환하고 삭제||
|listData.reverse()|리스트의 항목들의 순서를 반대로 함||
|listData.sort(reverse=False)|리스트의 항목들을 정렬. reverse 속성을 True로 하면 내림차순으로 정렬||
|listData.copy()|리스트의 얕은 복사본을 반환||

In [ ]:
# 리스트 생성 및 요소 추가
## 리스트 생성
listData = []

## 요소 추가
listData.append(10)
listData.append(20)
listData.append(30)

print(listData)

[10, 20, 30]

In [ ]:
# 리스트 길이 확인 및 최소/최대값 찾기
## 리스트 생성
listData = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

## 리스트 길이 확인
length = len(listData)
print(f"리스트 길이 : {length}")

## 최소값과 최대값 찾기
min_value = min(listData)
max_value = max(listData)
print(f"최소값: {min_value}, 최대값 : {max_value}")

리스트 길이 : 11
최소값: 1, 최대값 : 9

In [ ]:
# 슬라이싱 및 요소 개수 세기
## 리스트 생성
listData = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 슬라이싱
sliced_list = listData[2:5]
print(sliced_list)

## 요소 개수 세기
count_of_five = listData.count(5)
print(f"5의 개수 : {count_of_five}")

[3, 4, 5]
5의 개수 : 1

In [ ]:
# 요소 삽입, 제거 및 인덱스 찾기
listData = [10, 20, 30, 40, 50]
listData.insert(2, 25)
print(listData)

listData.remove(25)
print(listData)

index_of_40 = listData.index(40)
print(f"40의 인덱스 : {index_of_40}")

[10, 20, 25, 30, 40, 50]
[10, 20, 30, 40, 50]
40의 인덱스 : 3

In [ ]:
# 리스트 정렬 및 역순 정렬
listData = [3, 1, 4, 1, 5, 9, 2, 6]
listData.sort()
print(listData)

listData.reverse()
print(listData)

[1, 1, 2, 3, 4, 5, 6, 9]
[9, 6, 5, 4, 3, 2, 1, 1]

In [ ]:
# len() 메서드 : list의 전체 길이 (요소의 개수)를 반환
my_list = [1, 2, 3, 4, 5]
print(len(my_list))

5

In [ ]:
# count() 메서드 : 리스트 내에서 특정 요소가 몇 번 나타나는지를 세어 반환
my_list = [1, 2, 3, 2, 2, 4, 5]
print(my_list.count(2))

3

In [ ]:
# append() 메서드 : 리스트의 끝에 하나의 요소를 추가
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)
my_list.append([5, 6])
print(my_list)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

In [ ]:
# extend() 메서드 : 리스트의 끝에 다른 리스트의 모든 요소를 추가
my_list = [1, 2, 3]
my_list.extend([4, 5, 6])
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
# remove() 메서드 : 리스트에서 특정 값을 가진 첫 번째 요소를 제거(입력값으로 요소)
my_list = [1, 2, 3, 2, 4]
my_list.remove(2)
print(my_list)

[1, 3, 2, 4]

In [ ]:
# pop() 메서드 : 리스트에서 특정 위치의 요소를 제거하고, 그 요소를 반환.(입력값으로 인덱스)
my_list = [1, 2, 3, 4]
removed_element = my_list.pop(2)
print(removed_element)
print(my_list)
last_element = my_list.pop()
print(last_element)
print(my_list)

3
[1, 2, 4]
4
[1, 2]

In [ ]:
# 학생 관리 시스템

# 학생 목록 초기화
students = ["Alice", "Bob", "Charile"]

# 1. 새로운 학생 추가 (append)
students.append("David")
print("학생 추가 후 : ", students)

# 2. 여러 명의 학생을 한 번에 추가 (extend)
new_students = ["Eve", "Frank"]
students.extend(new_students)
print("여러 학생 추가 후 : ", students)

# 3. 특정 위치에 새로운 학생 삽입 (insert)
students.insert(2, "Grance")
print("특정 위치에 학생 삽입 후 : ", students)

학생 추가 후 :  ['Alice', 'Bob', 'Charile', 'David']
여러 학생 추가 후 :  ['Alice', 'Bob', 'Charile', 'David', 'Eve', 'Frank']
특정 위치에 학생 삽입 후 :  ['Alice', 'Bob', 'Grance', 'Charile', 'David', 'Eve', 'Frank']

## 리스트 range(시작, 끝, 증분)
- range() : range([from,]to[,by]) 이용해서 연속한 값을 갖는 리스트 생성

In [ ]:
# 기본 사용법
# 0부터 9까지의 숫자 생성
numbers = list(range(10))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 시작 값과 끝 값 지정
# 5부터 14까지의 숫자 생성
numbers = list(range(5, 15))
print(numbers)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
# 증분값 지정
# 0부터 18까지 2씩 증가하는 숫자 생성
numbers = list(range(0, 20, 2))
print(numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# 역순으로 숫자 생성
# 10부터 1까지 1씩 감소하는 숫자 생성
numbers = list(range(10, 0, -1))
print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# 특정 조건을 만족하는 숫자 생성
# 0부터 99까지의 숫자 중에서 3의 배수만 생성
multiples_of_three = [x for x in range(100) if x % 3 == 0]
print(multiples_of_three)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [ ]:
# 2차원 배열 생성
n = 5
matrix = [[(i+j) % 2 for j in range(n)] for i in range(n)]
for row in matrix:
  print(row)

[0, 1, 0, 1, 0]
[1, 0, 1, 0, 1]
[0, 1, 0, 1, 0]
[1, 0, 1, 0, 1]
[0, 1, 0, 1, 0]

## 다차원 리스트
- [] 안에 []를 넣으면 차원이 증가
  + 변수명 = [...] : 1차원 리스트
  + 변수명 = [[...], ...] : 2차원 리스트
  + 변수명 = [[[...], ...], ...] : 3차원 리스트

In [ ]:
# 2x2 행렬 생성 및 출력
matrix=[
    [1, 2]
    , [3, 4]
]

for row in matrix:
  print(row)

[1, 2]
[3, 4]

In [ ]:
# 3x3 행렬 합 구하기
matrix=[
    [1, 2, 3]
    , [4, 5, 6]
    , [7, 8, 9]
]

total_sum = 0
for row in matrix:
  for element in row:
    total_sum += element

print(total_sum)

45

## 리스트 슬라이싱
- 리스트[from : to : by ]
  + from부터 to까지 매 by번째 항목 추출, to 인덱스 포함 안함
  + from 인덱스와 to 인덱스를 생략하면 자동으로 맨 처음 인덱스와 마지막 인덱스가 선택됨
  + [from:to] 형식은 by 값이 1인 경우
  + from 인덱스가 to 인덱스보다 뒤의 인덱스일 경우 by는 음수가 될 수 있음

In [ ]:
# 격자 패턴으로 요소 추출
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

grid_pattern = letters[::3]
print(grid_pattern)

['a', 'd', 'g', 'j']

In [ ]:
# 다차원 리스트에서 특정 열 추출
matrix = [
    [1, 2, 3, 4]
    , [5, 6, 7, 8]
    , [9, 10, 11, 12]
    , [13, 14, 15, 16]
]

column = [row[1] for row in matrix]
print(column)

[2, 6, 10, 14]

In [ ]:
# 중첩된 슬라이싱을 사용한 부분 리스트 추출
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90]

sub_slice = numbers[2:8][1:]
print(sub_slice)

[40, 50, 60, 70, 80]

In [ ]:
# 다차원 리스트에서 슬라이싱
matrix = [
    [1, 2, 3, 4]
    , [5, 6, 7, 8]
    , [9, 10, 11, 12]
    , [13, 14, 15, 16]
]

sub_matrix = [row[1:3] for row in matrix[1:3]]
print(sub_matrix)

[[6, 7], [10, 11]]

In [ ]:
# 중첩된 슬라이싱 : 고차원 리스트의 중첩 슬라이싱은 Numpy에서 제공
import numpy as np
matrix = [
    [1, 2, 3, 4]
    , [5, 6, 7, 8]
    , [9, 10, 11, 12]
    , [13, 14, 15, 16]
]

np_matrix = np.array(matrix)

nested_slicing_result = np_matrix[::2, 1::2]

print("중첩된 슬라이싱 결과 : ")
print(nested_slicing_result)

중첩된 슬라이싱 결과 :
[[ 2  4]
 [10 12]]

In [ ]:
# 조건을 만족하는 요소만 슬라이싱으로 추출
numbers = [10, 15, 20, 25, 30, 35, 40, 45]

indices = [i for i, num in enumerate(numbers) if num > 20]
print(indices)

filtered_numbers = [numbers[i] for i in indices]
print(filtered_numbers)

[3, 4, 5, 6, 7]
[25, 30, 35, 40, 45]

In [ ]:
# 시작 및 종료 인덱스 지정
my_list = ['apple', 'banana', 'cherry', 'banana', 'date']

index = my_list.index('banana', 2, 4)
print(index)

3

## 리스트 수정하기
- 리스트 데이터는 인덱싱 방법으로 수정할 수 있음
- 지정한 인덱스 위치의 데이터를 다른 데이터로 바꿈
- 지정한 범위의 리스트 항목을 다른 항목들로 바꿈
- 연속하는 항목을 바꿀 경우 수정할 항목의 개수가 달라도 됨

In [ ]:
numebrs = [1, 3, 5, 7, 9, 1, 2, 3, 4, 5]
numbers[2] = 2
numbers[4] = 40
numbers[6] = 600
numbers

[10, 15, 2, 25, 40, 35, 600, 45]

In [ ]:
numebrs = [1, 3, 5, 7, 9, 1, 2, 3, 4, 5]
numebrs[0:5] = [2, 4, 6]
numebrs

[2, 4, 6, 1, 2, 3, 4, 5]

In [ ]:
numebrs = [1, 3, 5, 7, 9, 1, 2, 3, 4, 5]
numebrs[0:5:2] = [2, 4, 6]
numebrs

[2, 3, 4, 7, 6, 1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list[2:5] = [100, 200, 300, 400, 500]
print(my_list)

[1, 2, 100, 200, 300, 400, 500, 6, 7, 8, 9, 10]

## 원본 변경 리스트 & 원본 비변경 리스트
- 원본 리스트를 변경하는 메서드 : 메서드가 리스트 객체의 메서드로 호출되고, 반환 값이 None
  + list.sort()
  + list.reverse()
  + list.append()
  + list.extend()
  + list.insert()
  + list.remove()
  + list.pop()
  + list.copy()
  + list.clear()

- 원본 리스트를 변경하지 않는 함수 : 함수가 내장 함수로 호출되며, 정렬된 또는 뒤집힌 새로운 리스트나 반복자를 반환
  + sorted()
  + reversed()
  + enumerate()
  + zip()
  + filter()
  + map()

In [ ]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5]

# list.sort()
my_list.sort()
print("Sorted List (in-place):", my_list)  # Output: [1, 1, 2, 3, 4, 5, 5, 6, 9]

# list.reverse()
my_list.reverse()
print("Reversed List (in-place):", my_list)  # Output: [9, 6, 5, 5, 4, 3, 2, 1, 1]

# list.append(x)
my_list.append(7)
print("Appended List:", my_list)  # Output: [9, 6, 5, 5, 4, 3, 2, 1, 1, 7]

# list.extend(iterable)
my_list.extend([8, 9])
print("Extended List:", my_list)  # Output: [9, 6, 5, 5, 4, 3, 2, 1, 1, 7, 8, 9]

# list.insert(i, x)
my_list.insert(0, 0)
print("Inserted List:", my_list)  # Output: [0, 9, 6, 5, 5, 4, 3, 2, 1, 1, 7, 8, 9]

# list.remove(x)
my_list.remove(5)
print("List after Remove:", my_list)  # Output: [0, 9, 6, 5, 4, 3, 2, 1, 1, 7, 8, 9]

# list.pop([i])
popped_element = my_list.pop(2)
print("Popped Element:", popped_element)  # Output: 6
print("List after Pop:", my_list)  # Output: [0, 9, 5, 4, 3, 2, 1, 1, 7, 8, 9]

# list.clear()
my_list.clear()
print("Cleared List:", my_list)  # Output: []

# list.copy()
original_list = [1, 2, 3]
copied_list = original_list.copy()
print("Copied List:", copied_list)  # Output: [1, 2, 3]

Sorted List (in-place): [1, 1, 2, 3, 4, 5, 5, 6, 9]
Reversed List (in-place): [9, 6, 5, 5, 4, 3, 2, 1, 1]
Appended List: [9, 6, 5, 5, 4, 3, 2, 1, 1, 7]
Extended List: [9, 6, 5, 5, 4, 3, 2, 1, 1, 7, 8, 9]
Inserted List: [0, 9, 6, 5, 5, 4, 3, 2, 1, 1, 7, 8, 9]
List after Remove: [0, 9, 6, 5, 4, 3, 2, 1, 1, 7, 8, 9]
Popped Element: 6
List after Pop: [0, 9, 5, 4, 3, 2, 1, 1, 7, 8, 9]
Cleared List: []
Copied List: [1, 2, 3]

In [ ]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5]

# sorted()
sorted_list = sorted(my_list)
print("Sorted List (new):", sorted_list)  # Output: [1, 1, 2, 3, 4, 5, 5, 6, 9]

# reversed()
reversed_list = list(reversed(my_list))
print("Reversed List (new):", reversed_list)  # Output: [5, 6, 2, 9, 5, 1, 4, 1, 3]

# enumerate()
enumerated_list = list(enumerate(my_list))
print("Enumerated List:", enumerated_list)  # Output: [(0, 3), (1, 1), (2, 4), (3, 1), (4, 5), (5, 9), (6, 2), (7, 6), (8, 5)]

# zip()
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
zipped_list = list(zip(list1, list2))
print("Zipped List:", zipped_list)  # Output: [(1, 'a'), (2, 'b'), (3, 'c')]

# filter()
filtered_list = list(filter(lambda x: x % 2 == 0, my_list))
print("Filtered List:", filtered_list)  # Output: [4, 2, 6]

# map()
mapped_list = list(map(lambda x: x * 2, my_list))
print("Mapped List:", mapped_list)  # Output: [6, 2, 8, 2, 10, 18, 4, 12, 10]

Sorted List (new): [1, 1, 2, 3, 4, 5, 5, 6, 9]
Reversed List (new): [5, 6, 2, 9, 5, 1, 4, 1, 3]
Enumerated List: [(0, 3), (1, 1), (2, 4), (3, 1), (4, 5), (5, 9), (6, 2), (7, 6), (8, 5)]
Zipped List: [(1, 'a'), (2, 'b'), (3, 'c')]
Filtered List: [4, 2, 6]
Mapped List: [6, 2, 8, 2, 10, 18, 4, 12, 10]

## 리스트 복사(copy)
- 단순 할당 (=) : 두 변수는 동일한 리스트 객체를 참조
  + 하나의 변수를 통해 리스트를 변경하면 다른 변수에서도 변경이 반영
  + 얕은 복사(shallow copy)로, 실제로는 새로운 리스트가 생성되지 않음
- copy() : copy() 메서드를 사용하면 원본 리스트의 얕은 복사본이 생성
  + 새로운 리스트 객체가 생성되고, 원본 리스트의 요소들이 새로운 리스트로 복사
  + 두 변수는 서로 다른 리스트 객체를 참조
  + But, 리스트 요소가 리스트와 같은 가변 객체일 경우, 그 가변 객체들은 원본리스트와 복사된 리스트가 동일한 객체를 참조하게 됨
- copy 모듈의 deepcopy() 함수
  + 원본 리스트의 가변 객체 요소까지 복사하려면, 깊은 복사(deep copy)를 수행하려면 copy 모듈의 deepcopy() 함수를 사용

```
copy() : 복제된 새로운 객체를 생성
= : 주소를 복사해 같은 객체를 참조
```

In [ ]:
numbers = [6, 2, 7, 4, 10, 8, 3, 9, 1, 5]

new_numbers = numbers.copy()
print(numbers)
print(new_numbers)

[6, 2, 7, 4, 10, 8, 3, 9, 1, 5]
[6, 2, 7, 4, 10, 8, 3, 9, 1, 5]

In [ ]:
new_numbers = numbers
print(numbers)
print(new_numbers)

[6, 2, 7, 4, 10, 8, 3, 9, 1, 5]
[6, 2, 7, 4, 10, 8, 3, 9, 1, 5]

In [ ]:
original_list = [1, 2, 3]
copied_list = original_list

copied_list[0] = 100

print(original_list)
print(copied_list)

[100, 2, 3]
[100, 2, 3]

In [ ]:
original_list = [1, 2, 3]
copied_list = original_list.copy()

copied_list[0] = 100

print(original_list)
print(copied_list)

[1, 2, 3]
[100, 2, 3]

In [ ]:
# shallow vs deep
original_list = [[1, 2], [3, 4]]
copied_list = original_list.copy()

copied_list[0][0] = 100

print(original_list)
print(copied_list)

[[100, 2], [3, 4]]
[[100, 2], [3, 4]]

In [ ]:
import copy

original_list = [[1, 2], [3, 4]]
copied_list = copy.deepcopy(original_list)

copied_list[0][0] = 100

print(original_list)
print(copied_list)

[[1, 2], [3, 4]]
[[100, 2], [3, 4]]

## 리스트 컴프리헨션 List Comprehension
- 리스트를 보다 간결하고 효율적으로 생성하는 방법
- 기존의 for-loop를 사용한 리스트 생성 방식보다 더 직관적이고 간결하게 작성

기본 문법
```
[expression for item in iterable]

expression : 리스트의 각 항목이 될 표현식
item : 반복할 때 마다 iterable에서 가져오는 항목
iterable : 반복 가능한 객체 (리스트, 문자열, 튜플 등)
```

In [ ]:
# 기존의 for-loop vs 리스트 컴프리헨션
squares = []
for x in range(10):
  squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# 중첩된 리스트 컴프리헨션
matrix = []
for i in range(3):
  row = []
  for j in range(3):
    row.append(i*j)
  matrix.append(row)
print(matrix)

[[0, 0, 0], [0, 1, 2], [0, 2, 4]]

In [ ]:
matrix = [[i*j for j in range(3)] for i in range(3)]
print(matrix)

[[0, 0, 0], [0, 1, 2], [0, 2, 4]]

In [ ]:
# 조건이 있는 리스트 컴프리헨션
even_squares = []
for x in range(10):
  if x % 2 == 0 :
    even_squares.append(x**2)
print(even_squares)

[0, 4, 16, 36, 64]

In [ ]:
even_squares = [x**2 for x in range(10) if x % 2 == 0]
print(even_squares)

[0, 4, 16, 36, 64]

In [ ]:
# 1부터 10까지의 숫자 리스트 생성
numbers = [x for x in range(1, 11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 리스트의 각 요소에 2를 곱하기
numbers = [1, 2, 3, 4, 5]
doubled = [x*2 for x in numbers]
print(doubled)

[2, 4, 6, 8, 10]

In [ ]:
# 문자열 리스트의 요소를 대문자로 바꾸기
words = ['apple', 'banana', 'cherry']
upper_words = [word.upper() for word in words]
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
# 1부터 10까지의 제곱수를 계산하기
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 리스트에서 짝수만 필터링하기
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
# 문자열 리스트에서 길이가 5이상인 단어만 필터링하기
words = ["apple", "banana", "cherry", "date"]
long_words = [word for word in words if len(word) >= 5]
print(long_words)

['apple', 'banana', 'cherry']

In [ ]:
# 두 리스트의 곱셈 결과 생성
list1 = [1, 2, 3]
list2 = [4, 5, 6]
products = [x*y for x in list1 for y in list2]
print(products)

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [ ]:
# 1부터 10까지의 숫자 중 홀수는 '홀수', 짝수는 '짝수'로 변환
numbers = [x for x in range(1, 11)]
labels = ['홀수' if x%2 != 0 else '짝수' for x in numbers]
print(labels)

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']

In [ ]:
# 문자열 조작을 위한 리스트 컴프리헨션
words = ['hello', 'world', 'python']
capitalized = [word.capitalize() for word in words]
print(capitalized)

['Hello', 'World', 'Python']

In [ ]:
# 중첩 루프를 사용한 리스트 컴프리헨션
matrix = [[i*j for j in range(1, 4)] for i in range(1, 4)]
print(matrix)

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

<hr>

# 수업문제 1
- 리스트의 메서드 기본 사용 응용/변형코드를 댓글에 공유해 주세요

In [ ]:
# 원본 리스트 생성
original_list = [1, 2, 3, 4, 5]

# copy() 메서드를 사용하여 리스트 복사본 생성
copied_list = original_list.copy()

# 복사본 리스트 변경
copied_list.append(6)
copied_list[0] = 100

# 원본 리스트와 복사본 리스트 출력
print("Original List:", original_list)
print("Copied List:", copied_list)

Original List: [1, 2, 3, 4, 5]
Copied List: [100, 2, 3, 4, 5, 6]

# 수업문제 2
- 리스트 슬라이싱의 예시를 참조하여 변형/응용 코드를 작성해서 공유해 주세요

In [ ]:
# 예제 1: 리스트의 일부 추출
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
subset1 = my_list[2:5]
print("Subset 1:", subset1)  # Output: [2, 3, 4]

# 예제 2: 시작 인덱스 생략
subset2 = my_list[:5]
print("Subset 2:", subset2)  # Output: [0, 1, 2, 3, 4]

# 예제 3: 종료 인덱스 생략
subset3 = my_list[5:]
print("Subset 3:", subset3)  # Output: [5, 6, 7, 8, 9]

# 예제 4: 양쪽 인덱스 생략
copy_list = my_list[:]
print("Copy List:", copy_list)  # Output: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 예제 5: 음수 인덱스 사용
subset4 = my_list[-2:]
print("Subset 4:", subset4)  # Output: [8, 9]

# 예제 6: 스텝 지정
subset5 = my_list[::2]
print("Subset 5:", subset5)  # Output: [0, 2, 4, 6, 8]

# 예제 7: 슬라이싱을 통한 리스트 수정
my_list[2:5] = ['a', 'b', 'c']
print("Modified List:", my_list)  # Output: [0, 1, 'a', 'b', 'c', 5, 6, 7, 8, 9]

# 예제 8: 슬라이싱을 통한 리스트 삭제
del my_list[2:5]
print("List after deletion:", my_list)  # Output: [0, 1, 5, 6, 7, 8, 9]

# 예제 9: 슬라이싱을 통한 역순 추출
reversed_list = my_list[::-1]
print("Reversed List:", reversed_list)  # Output: [9, 8, 7, 6, 5, 1, 0]

# 예제 10: 중첩 리스트에서 슬라이싱
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested_subset = nested_list[1:]
print("Nested List Subset:", nested_subset)  # Output: [[4, 5, 6], [7, 8, 9]]

# 중첩 리스트 내부 요소 슬라이싱
inner_subset = nested_list[1][1:]
print("Inner Subset:", inner_subset)  # Output: [5, 6]

Subset 1: [2, 3, 4]
Subset 2: [0, 1, 2, 3, 4]
Subset 3: [5, 6, 7, 8, 9]
Copy List: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Subset 4: [8, 9]
Subset 5: [0, 2, 4, 6, 8]
Modified List: [0, 1, 'a', 'b', 'c', 5, 6, 7, 8, 9]
List after deletion: [0, 1, 5, 6, 7, 8, 9]
Reversed List: [9, 8, 7, 6, 5, 1, 0]
Nested List Subset: [[4, 5, 6], [7, 8, 9]]
Inner Subset: [5, 6]

# 수업문제 3
- 리스트 컴프리헨션의 예시를 변형/응용하여 공유해 주세요

In [ ]:
# 알파벳 필터링

# 주어진 문자열
input_string = "Hello, World! 1234 @#%"

alphabet_list = [char for char in input_string if char.isalpha()]
print("알파벳만 추출한 리스트 : ", alphabet_list)

알파벳만 추출한 리스트 :  ['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']